**Integrantes**:
+ Matias Adolfo Gallardo Paredes

#### DICCIONARIO DE DATOS
ATRIBUTO | DESCRIPCIÓN
:--------: | -------
Fecha | Fecha de la observación 
Ubicación | Ubicación de la estación meteorológica 
MinTemp | Temperatura **mínima** en grados Celsius 
MaxTemp | Temperatura **máxima** en grados Celsius 
Lluvia | Cantidad de lluvia registrada ese día en mm. 
Evaporacion | Evaporación (mm) en 24 horas 
Sol | Horas de sol brillante en el día 
DirRafaga | Dirección de la ráfaga de viento más fuerte en 24 horas. 
VelRafaga | Velocidad (km/hr) de la ráfaga de viento más fuerte en 24 horas. 
Dir9am | Dirección del viento a las 9am 
Dir3pm | Dirección del viento a las 3pm 
Vel9am | Velocidad (km/hr) del viento a las 9 am 
Vel3pm | Velocidad (km/hr) del viento a las 3 pm 
Hum9am | Porcentaje de humedad a las 9 am 
Hum3pm | Porcentaje de humedad a las 3 pm 
Pres9am | Presión atmosférica (hpa) a nivel del mar a las 9am 
Pre3pm | Presión atmosférica (hpa) a nivel del mar a las 3pm 
Nub9am | Fración del cielo cubierto por nubes a las 9am. Se mide en "octavos", de manera que un valor 0           indica cielo totalmente despejado y 8, cielo totalmente cubierto. 
Nub3pm | Fración del cielo cubierto por nubes a las 3pm. Se mide en "octavos", de manera que un valor 0          indica cielo totalmente despejado y 8, cielo totalmente cubierto. 
Temp9am | Temperatura en grados celsius a las 9 am 
Temp3pm | Temperatura en grados celsius a las 3 pm 
LluviaHoy | Variable indicadora que toma el valor 1 si la precipitación en mm. en las últimas 24 hrs.               excede 1 mm. y 0 si no. 
LluviaMan | Variable indicadora que toma el valor 1 si al día siguiente llovió y 0 si no.

1.Carga de datos
==

In [1]:
#Importamos las librerías necesarias para nuestro trabajo 
import pandas as pd
import numpy as np

In [2]:
#En el siguiente código se crea un DataFrame de eventos llamado "data"
data = pd.read_csv('DataSetExamen.csv')
data.head()# Ver los primeros resultados

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

2.ANÁLISIS DE LOS DATOS DISPONIBLES  
==

**Visualización / Inspección de Datos**

In [3]:
#Mostramos las dimensiones de la DataFrame
#145460 datos y 23 columnas
data.shape

(145460, 23)

In [4]:
#La función info() se utiliza para imprimir un resumen conciso de un DataFrame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [5]:
#Resumen de estadísticas para columnas numéricas
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [6]:
#El tipo de dato de nuestras columnas
data.dtypes

Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RainTomorrow      object
dtype: object

In [7]:
#Valores y recuentos únicos para todas las columnas
data.apply(pd.Series.value_counts)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
-8.5,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-8.2,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-8.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-7.8,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-7.6,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Williamtown,NaN,3009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Witchcliffe,NaN,3009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Wollongong,NaN,3040.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Woomera,NaN,3009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31880.0,31877.0

In [8]:
#Cantidad de datos nulos de nuestras columnas
data.isnull().sum()

Date                 0
Location             0
MinTemp           1485
MaxTemp           1261
Rainfall          3261
Evaporation      62790
Sunshine         69835
WindGustDir      10326
WindGustSpeed    10263
WindDir9am       10566
WindDir3pm        4228
WindSpeed9am      1767
WindSpeed3pm      3062
Humidity9am       2654
Humidity3pm       4507
Pressure9am      15065
Pressure3pm      15028
Cloud9am         55888
Cloud3pm         59358
Temp9am           1767
Temp3pm           3609
RainToday         3261
RainTomorrow      3267
dtype: int64

**Estadísticas básicas de las columnas**

In [9]:
#Resumen de estadísticas para columnas numéricas
data.describe()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
count,143975.000000,144199.000000,142199.000000,82670.000000,75625.000000,135197.000000,143693.000000,142398.000000,142806.000000,140953.000000,130395.00000,130432.000000,89572.000000,86102.000000,143693.000000,141851.00000
mean,12.194034,23.221348,2.360918,5.468232,7.611178,40.035230,14.043426,18.662657,68.880831,51.539116,1017.64994,1015.255889,4.447461,4.509930,16.990631,21.68339
std,6.398495,7.119049,8.478060,4.193704,3.785483,13.607062,8.915375,8.809800,19.029164,20.795902,7.10653,7.037414,2.887159,2.720357,6.488753,6.93665
min,-8.500000,-4.800000,0.000000,0.000000,0.000000,6.000000,0.000000,0.000000,0.000000,0.000000,980.50000,977.100000,0.000000,0.000000,-7.200000,-5.40000
25%,7.600000,17.900000,0.000000,2.600000,4.800000,31.000000,7.000000,13.000000,57.000000,37.000000,1012.90000,1010.400000,1.000000,2.000000,12.300000,16.60000
50%,12.000000,22.600000,0.000000,4.800000,8.400000,39.000000,13.000000,19.000000,70.000000,52.000000,1017.60000,1015.200000,5.000000,5.000000,16.700000,21.10000
75%,16.900000,28.200000,0.800000,7.400000,10.600000,48.000000,19.000000,24.000000,83.000000,66.000000,1022.40000,1020.000000,7.000000,7.000000,21.600000,26.40000
max,33.900000,48.100000,371.000000,145.000000,14.500000,135.000000,130.000000,87.000000,100.000000,100.000000,1041.00000,1039.600000,9.000000,9.000000,40.200000,46.70000

In [10]:
#Devuelve la media de todas las columnas
data.mean()

MinTemp            12.194034
MaxTemp            23.221348
Rainfall            2.360918
Evaporation         5.468232
Sunshine            7.611178
WindGustSpeed      40.035230
WindSpeed9am       14.043426
WindSpeed3pm       18.662657
Humidity9am        68.880831
Humidity3pm        51.539116
Pressure9am      1017.649940
Pressure3pm      1015.255889
Cloud9am            4.447461
Cloud3pm            4.509930
Temp9am            16.990631
Temp3pm            21.683390
dtype: float64

In [11]:
#Devuelve la correlación entre las columnas de un objeto DataFrame.
data.corr()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm
MinTemp,1.000000,0.736555,0.103938,0.466993,0.072586,0.177415,0.175064,0.175173,-0.232899,0.006089,-0.450970,-0.461292,0.078754,0.021605,0.901821,0.708906
MaxTemp,0.736555,1.000000,-0.074992,0.587932,0.470156,0.067615,0.014450,0.050300,-0.504110,-0.508855,-0.332061,-0.427167,-0.289370,-0.277921,0.887210,0.984503
Rainfall,0.103938,-0.074992,1.000000,-0.064351,-0.227549,0.133659,0.087338,0.057887,0.224405,0.255755,-0.168154,-0.126534,0.198528,0.172403,0.011192,-0.079657
Evaporation,0.466993,0.587932,-0.064351,1.000000,0.365602,0.203021,0.193084,0.129400,-0.504092,-0.390243,-0.270362,-0.293581,-0.183793,-0.182618,0.545115,0.572893
Sunshine,0.072586,0.470156,-0.227549,0.365602,1.000000,-0.034750,0.005499,0.053834,-0.490819,-0.629130,0.041970,-0.019719,-0.675323,-0.703930,0.291188,0.490501
WindGustSpeed,0.177415,0.067615,0.133659,0.203021,-0.034750,1.000000,0.605303,0.686307,-0.215070,-0.026327,-0.458744,-0.413749,0.071736,0.109168,0.150150,0.032748
WindSpeed9am,0.175064,0.014450,0.087338,0.193084,0.005499,0.605303,1.000000,0.519547,-0.270858,-0.031614,-0.228743,-0.175817,0.025112,0.054639,0.128545,0.004569
WindSpeed3pm,0.175173,0.050300,0.057887,0.129400,0.053834,0.686307,0.519547,1.000000,-0.145525,0.016432,-0.296351,-0.255439,0.053337,0.025396,0.163030,0.027778
Humidity9am,-0.232899,-0.504110,0.224405,-0.504092,-0.490819,-0.215070,-0.270858,-0.145525,1.000000,0.666949,0.139442,0.186858,0.452297,0.357326,-0.471354,-0.498399
Humidity3pm,0.006089,-0.508855,0.255755,-0.390243,-0.629130,-0.026327,-0.031614,0.016432,0.666949,1.000000,-0.027544,0.051997,0.517120,0.523120,-0.221019,-0.557841
Pressure9am,-0.450970,-0.332061,-0.168154,-0.270362,0.041970,-0.458744,-0.228743,-0.296351,0.139442,-0.027544,1.000000,0.961326,-0.129796,-0.147861,-0.422556,-0.286770
Pressure3pm,-0.461292,-0.427167,-0.126534,-0.293581,-0.019719,-0.413749,-0.175817,-0.255439,0.186858,0.051997,0.961326,1.000000,-0.060772,-0.084778,-0.470187,-0.389548
Cloud9am,0.078754,-0.289370,0.198528,-0.183793,-0.675323,0.071736,0.025112,0.053337,0.452297,0.517120,-0.129796,-0.060772,1.000000,0.603564,-0.136959,-0.302060
Cloud3pm,0.021605,-0.277921,0.172403,-0.182618,-0.703930,0.109168,0.054639,0.025396,0.357326,0.523120,-0.147861,-0.084778,0.603564,1.000000,-0.126659,-0.317420
Temp9am,0.901821,0.887210,0.011192,0.545115,0.291188,0.150150,0.128545,0.163030,-0.471354,-0.221019,-0.422556,-0.470187,-0.136959,-0.126659,1.000000,0.860591
Temp3pm,0.708906,0.984503,-0.079657,0.572893,0.490501,0.032748,0.004569,0.027778,-0.498399,-0.557841,-0.286770,-0.389548,-0.302060,-0.317420,0.860591,1.000000

In [12]:
#Devuelve el número de valores no NULL en cada columna de DataFrame.
data.count()

Date             145460
Location         145460
MinTemp          143975
MaxTemp          144199
Rainfall         142199
Evaporation       82670
Sunshine          75625
WindGustDir      135134
WindGustSpeed    135197
WindDir9am       134894
WindDir3pm       141232
WindSpeed9am     143693
WindSpeed3pm     142398
Humidity9am      142806
Humidity3pm      140953
Pressure9am      130395
Pressure3pm      130432
Cloud9am          89572
Cloud3pm          86102
Temp9am          143693
Temp3pm          141851
RainToday        142199
RainTomorrow     142193
dtype: int64

In [13]:
#Devuelve el valor más alto de cada columna.
data.max()

Date             2017-06-25
Location            Woomera
MinTemp                33.9
MaxTemp                48.1
Rainfall                371
Evaporation             145
Sunshine               14.5
WindGustSpeed           135
WindSpeed9am            130
WindSpeed3pm             87
Humidity9am             100
Humidity3pm             100
Pressure9am            1041
Pressure3pm          1039.6
Cloud9am                  9
Cloud3pm                  9
Temp9am                40.2
Temp3pm                46.7
dtype: object

In [14]:
#Devuelve el valor más bajo de cada columna.
data.min()

Date             2007-11-01
Location           Adelaide
MinTemp                -8.5
MaxTemp                -4.8
Rainfall                  0
Evaporation               0
Sunshine                  0
WindGustSpeed             6
WindSpeed9am              0
WindSpeed3pm              0
Humidity9am               0
Humidity3pm               0
Pressure9am           980.5
Pressure3pm           977.1
Cloud9am                  0
Cloud3pm                  0
Temp9am                -7.2
Temp3pm                -5.4
dtype: object

In [15]:
#Devuelve la mediana de cada columna.
data.median()

MinTemp            12.0
MaxTemp            22.6
Rainfall            0.0
Evaporation         4.8
Sunshine            8.4
WindGustSpeed      39.0
WindSpeed9am       13.0
WindSpeed3pm       19.0
Humidity9am        70.0
Humidity3pm        52.0
Pressure9am      1017.6
Pressure3pm      1015.2
Cloud9am            5.0
Cloud3pm            5.0
Temp9am            16.7
Temp3pm            21.1
dtype: float64

In [16]:
#Devuelve la desviación estándar de cada columna.
data.std()

MinTemp           6.398495
MaxTemp           7.119049
Rainfall          8.478060
Evaporation       4.193704
Sunshine          3.785483
WindGustSpeed    13.607062
WindSpeed9am      8.915375
WindSpeed3pm      8.809800
Humidity9am      19.029164
Humidity3pm      20.795902
Pressure9am       7.106530
Pressure3pm       7.037414
Cloud9am          2.887159
Cloud3pm          2.720357
Temp9am           6.488753
Temp3pm           6.936650
dtype: float64

**Limpieza y transformación de datos**

In [17]:
#Renonmbrar columnas 
data = data.rename(columns = {'Date' : 'Fecha'})
data = data.rename(columns = {'Location' : 'Ubicación'})
data = data.rename(columns = {'Rainfall' : 'Lluvia'})
data = data.rename(columns = {'Evaporation' : 'Evaporacion'})
data = data.rename(columns = {'Sunshine' : 'Sol'})
data = data.rename(columns = {'WindGustDir' : 'DirRafaga'})
data = data.rename(columns = {'WindGustSpeed' : 'VelRafaga'})
data = data.rename(columns = {'WindDir9am' : 'Dir9am'})
data = data.rename(columns = {'WindDir3pm' : 'Dir3pm'})
data = data.rename(columns = {'WindSpeed9am' : 'Vel9am'})
data = data.rename(columns = {'WindSpeed3pm' : 'Vel3pm'})
data = data.rename(columns = {'Humidity9am' : 'Hum9am'})
data = data.rename(columns = {'Humidity3pm' : 'Hum3pm'})
data = data.rename(columns = {'Pressure9am' : 'Pres9am'})
data = data.rename(columns = {'Pressure3pm' : 'Pres3pm'})
data = data.rename(columns = {'Cloud9am' : 'Nub9am'})
data = data.rename(columns = {'Cloud3pm' : 'Nub3pm'})
data = data.rename(columns = {'Temp9am' : 'Temp9am'})
data = data.rename(columns = {'Temp3am' : 'Temp3pm'})
data = data.rename(columns = {'RainToday' : 'LluviaHoy'})
data = data.rename(columns = {'RainTomorrow' : 'LluviaMan'})
data.head()

,Fecha,Ubicación,MinTemp,MaxTemp,Lluvia,Evaporacion,Sol,DirRafaga,VelRafaga,Dir9am,...,Hum9am,Hum3pm,Pres9am,Pres3pm,Nub9am,Nub3pm,Temp9am,Temp3pm,LluviaHoy,LluviaMan
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [18]:
#Comprueba si hay valores nulos
data.isnull().sum()

Fecha              0
Ubicación          0
MinTemp         1485
MaxTemp         1261
Lluvia          3261
Evaporacion    62790
Sol            69835
DirRafaga      10326
VelRafaga      10263
Dir9am         10566
Dir3pm          4228
Vel9am          1767
Vel3pm          3062
Hum9am          2654
Hum3pm          4507
Pres9am        15065
Pres3pm        15028
Nub9am         55888
Nub3pm         59358
Temp9am         1767
Temp3pm         3609
LluviaHoy       3261
LluviaMan       3267
dtype: int64

In [19]:
#Crear un nuevo data frame solo con los datos de las Ubiaciones
data2=data[(data['Ubicación'] == 'Albury')]
data3=data[(data['Ubicación'] == 'BadgerysCreek')]
data4=data[(data['Ubicación'] == 'Cobar')]
data5=data[(data['Ubicación'] == 'CoffsHarbour')]
data6=data[(data['Ubicación'] == 'Moree')]
data7=data[(data['Ubicación'] == 'Newcastle')]
data8=data[(data['Ubicación'] == 'NorahHead')]
data9=data[(data['Ubicación'] == 'NorfolkIsland')]
data10=data[(data['Ubicación'] == 'Penrith')]
data11=data[(data['Ubicación'] == 'Richmond')]
data12=data[(data['Ubicación'] == 'Sydney')]
data13=data[(data['Ubicación'] == 'SydneyAirport')]
data14=data[(data['Ubicación'] == 'WaggaWagga')]
data15=data[(data['Ubicación'] == 'Williamtown')]
data16=data[(data['Ubicación'] == 'Wollongong')]
data17=data[(data['Ubicación'] == 'Canberra')]
data18=data[(data['Ubicación'] == 'Tuggeranong')]
data19=data[(data['Ubicación'] == 'MountGinini')]
data20=data[(data['Ubicación'] == 'Ballarat')]
data21=data[(data['Ubicación'] == 'Bendigo')]
data22=data[(data['Ubicación'] == 'Sale')]
data23=data[(data['Ubicación'] == 'MelbourneAirport')]
data24=data[(data['Ubicación'] == 'Melbourne')]
data25=data[(data['Ubicación'] == 'Mildura')]
data26=data[(data['Ubicación'] == 'Nhil')]
data27=data[(data['Ubicación'] == 'Portland')]
data28=data[(data['Ubicación'] == 'Watsonia')]
data29=data[(data['Ubicación'] == 'Dartmoor')]
data30=data[(data['Ubicación'] == 'Brisbane')]
data31=data[(data['Ubicación'] == 'Cairns')]
data32=data[(data['Ubicación'] == 'GoldCoast')]
data33=data[(data['Ubicación'] == 'Townsville')]
data34=data[(data['Ubicación'] == 'Adelaide')]
data35=data[(data['Ubicación'] == 'MountGambier')]
data36=data[(data['Ubicación'] == 'Nuriootpa')]
data37=data[(data['Ubicación'] == 'Woomera')]
data38=data[(data['Ubicación'] == 'Albany')]
data39=data[(data['Ubicación'] == 'Witchcliffe')]
data40=data[(data['Ubicación'] == 'PearceRAAF')]
data41=data[(data['Ubicación'] == 'PerthAirport')]
data42=data[(data['Ubicación'] == 'Perth')]
data43=data[(data['Ubicación'] == 'SalmonGums')]
data44=data[(data['Ubicación'] == 'Walpole')]
data45=data[(data['Ubicación'] == 'Hobart')]
data46=data[(data['Ubicación'] == 'Launceston')]
data47=data[(data['Ubicación'] == 'AliceSprings')]
data48=data[(data['Ubicación'] == 'Darwin')]
data49=data[(data['Ubicación'] == 'Katherine')]
data50=data[(data['Ubicación'] == 'Uluru')]

In [20]:
#se ocupa este comando para reemplazar los datos de "DirRafaga" ya que son todos nulos
data7["DirRafaga"].fillna(data7["Dir3pm"],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [21]:
#solo para el data 38 ya que su "DirRafaga" era toda null
data38["DirRafaga"].fillna(data38["Dir9am"],inplace=True)

In [22]:
#se ocupa este comando para reemplazar los datos de "DirRafaga" ya que son todos nulos
#data7["DirRafaga"].fillna(data7["Dir3pm"],inplace=True)
#primero se realizo es siguiente comando por cada dataX "dataX['DirRafaga'].value_counts()" 
#para revisar cual fue la mayor variable que se repitio luego se realizo el reemplazo de los
#datos dependiendo de esta en cada uno de ellos
data2["DirRafaga"].fillna("W",inplace=True)
data3["DirRafaga"].fillna("SW",inplace=True)
data4["DirRafaga"].fillna("SW",inplace=True)
data5["DirRafaga"].fillna("NE",inplace=True)
data6["DirRafaga"].fillna("NNE",inplace=True)
data7["DirRafaga"].fillna("SE",inplace=True)
data8["DirRafaga"].fillna("S",inplace=True)
data9["DirRafaga"].fillna("E",inplace=True)
data10["DirRafaga"].fillna("SE",inplace=True)
data11["DirRafaga"].fillna("SE",inplace=True)
data12["DirRafaga"].fillna("W",inplace=True)
data13["DirRafaga"].fillna("S",inplace=True)
data14["DirRafaga"].fillna("ENE",inplace=True)
data15["DirRafaga"].fillna("WNW",inplace=True)
data16["DirRafaga"].fillna("NE",inplace=True)
data17["DirRafaga"].fillna("NW",inplace=True)
data18["DirRafaga"].fillna("WNW",inplace=True)
data19["DirRafaga"].fillna("W",inplace=True)
data20["DirRafaga"].fillna("N",inplace=True)
data21["DirRafaga"].fillna("SSE",inplace=True)
data22["DirRafaga"].fillna("W",inplace=True)
data23["DirRafaga"].fillna("N",inplace=True)
data24["DirRafaga"].fillna("N",inplace=True)
data25["DirRafaga"].fillna("SSW",inplace=True)
data26["DirRafaga"].fillna("W",inplace=True)
data27["DirRafaga"].fillna("W",inplace=True)
data28["DirRafaga"].fillna("SSW",inplace=True)
data29["DirRafaga"].fillna("SSW",inplace=True)
data30["DirRafaga"].fillna("E",inplace=True)
data31["DirRafaga"].fillna("SE",inplace=True)
data32["DirRafaga"].fillna("SSE",inplace=True)
data33["DirRafaga"].fillna("SSE",inplace=True)
data34["DirRafaga"].fillna("WSW",inplace=True)
data35["DirRafaga"].fillna("S",inplace=True)
data36["DirRafaga"].fillna("SE",inplace=True)
data37["DirRafaga"].fillna("SSE",inplace=True)
data38["DirRafaga"].fillna("NW",inplace=True)
data39["DirRafaga"].fillna("SSE",inplace=True)
data40["DirRafaga"].fillna("E",inplace=True)
data41["DirRafaga"].fillna("E",inplace=True)
data42["DirRafaga"].fillna("SW",inplace=True)
data43["DirRafaga"].fillna("SSW",inplace=True)
data44["DirRafaga"].fillna("SE",inplace=True)
data45["DirRafaga"].fillna("NNW",inplace=True)
data46["DirRafaga"].fillna("NNW",inplace=True)
data47["DirRafaga"].fillna("ESE",inplace=True)
data48["DirRafaga"].fillna("E",inplace=True)
data49["DirRafaga"].fillna("E",inplace=True)
data50["DirRafaga"].fillna("E",inplace=True)

In [23]:
#Reemplamos los datos nulos de la columna MaxTemp
data2["MaxTemp"].fillna(data2["MaxTemp"].mean(),inplace=True)
data3["MaxTemp"].fillna(data3["MaxTemp"].mean(),inplace=True)
data4["MaxTemp"].fillna(data4["MaxTemp"].mean(),inplace=True)
data5["MaxTemp"].fillna(data5["MaxTemp"].mean(),inplace=True)
data6["MaxTemp"].fillna(data6["MaxTemp"].mean(),inplace=True)
data7["MaxTemp"].fillna(data7["MaxTemp"].mean(),inplace=True)
data8["MaxTemp"].fillna(data8["MaxTemp"].mean(),inplace=True)
data9["MaxTemp"].fillna(data9["MaxTemp"].mean(),inplace=True)
data10["MaxTemp"].fillna(data10["MaxTemp"].mean(),inplace=True)
data11["MaxTemp"].fillna(data11["MaxTemp"].mean(),inplace=True)
data12["MaxTemp"].fillna(data12["MaxTemp"].mean(),inplace=True)
data13["MaxTemp"].fillna(data13["MaxTemp"].mean(),inplace=True)
data14["MaxTemp"].fillna(data14["MaxTemp"].mean(),inplace=True)
data15["MaxTemp"].fillna(data15["MaxTemp"].mean(),inplace=True)
data16["MaxTemp"].fillna(data16["MaxTemp"].mean(),inplace=True)
data17["MaxTemp"].fillna(data17["MaxTemp"].mean(),inplace=True)
data18["MaxTemp"].fillna(data18["MaxTemp"].mean(),inplace=True)
data19["MaxTemp"].fillna(data19["MaxTemp"].mean(),inplace=True)
data20["MaxTemp"].fillna(data20["MaxTemp"].mean(),inplace=True)
data21["MaxTemp"].fillna(data21["MaxTemp"].mean(),inplace=True)
data22["MaxTemp"].fillna(data22["MaxTemp"].mean(),inplace=True)
data23["MaxTemp"].fillna(data23["MaxTemp"].mean(),inplace=True)
data24["MaxTemp"].fillna(data24["MaxTemp"].mean(),inplace=True)
data25["MaxTemp"].fillna(data25["MaxTemp"].mean(),inplace=True)
data26["MaxTemp"].fillna(data26["MaxTemp"].mean(),inplace=True)
data27["MaxTemp"].fillna(data27["MaxTemp"].mean(),inplace=True)
data28["MaxTemp"].fillna(data28["MaxTemp"].mean(),inplace=True)
data29["MaxTemp"].fillna(data29["MaxTemp"].mean(),inplace=True)
data30["MaxTemp"].fillna(data30["MaxTemp"].mean(),inplace=True)
data31["MaxTemp"].fillna(data31["MaxTemp"].mean(),inplace=True)
data32["MaxTemp"].fillna(data32["MaxTemp"].mean(),inplace=True)
data33["MaxTemp"].fillna(data33["MaxTemp"].mean(),inplace=True)
data34["MaxTemp"].fillna(data34["MaxTemp"].mean(),inplace=True)
data35["MaxTemp"].fillna(data35["MaxTemp"].mean(),inplace=True)
data36["MaxTemp"].fillna(data36["MaxTemp"].mean(),inplace=True)
data37["MaxTemp"].fillna(data37["MaxTemp"].mean(),inplace=True)
data38["MaxTemp"].fillna(data38["MaxTemp"].mean(),inplace=True)
data39["MaxTemp"].fillna(data39["MaxTemp"].mean(),inplace=True)
data40["MaxTemp"].fillna(data40["MaxTemp"].mean(),inplace=True)
data41["MaxTemp"].fillna(data41["MaxTemp"].mean(),inplace=True)
data42["MaxTemp"].fillna(data42["MaxTemp"].mean(),inplace=True)
data43["MaxTemp"].fillna(data43["MaxTemp"].mean(),inplace=True)
data44["MaxTemp"].fillna(data44["MaxTemp"].mean(),inplace=True)
data45["MaxTemp"].fillna(data45["MaxTemp"].mean(),inplace=True)
data46["MaxTemp"].fillna(data46["MaxTemp"].mean(),inplace=True)
data47["MaxTemp"].fillna(data47["MaxTemp"].mean(),inplace=True)
data48["MaxTemp"].fillna(data48["MaxTemp"].mean(),inplace=True)
data49["MaxTemp"].fillna(data49["MaxTemp"].mean(),inplace=True)
data50["MaxTemp"].fillna(data50["MaxTemp"].mean(),inplace=True)

In [24]:
#Reemplamos los datos nulos de la columna MinTemp
data2["MinTemp"].fillna(data2["MinTemp"].mean(),inplace=True)
data3["MinTemp"].fillna(data3["MinTemp"].mean(),inplace=True)
data4["MinTemp"].fillna(data4["MinTemp"].mean(),inplace=True)
data5["MinTemp"].fillna(data5["MinTemp"].mean(),inplace=True)
data6["MinTemp"].fillna(data6["MinTemp"].mean(),inplace=True)
data7["MinTemp"].fillna(data7["MinTemp"].mean(),inplace=True)
data8["MinTemp"].fillna(data8["MinTemp"].mean(),inplace=True)
data9["MinTemp"].fillna(data9["MinTemp"].mean(),inplace=True)
data10["MinTemp"].fillna(data10["MinTemp"].mean(),inplace=True)
data11["MinTemp"].fillna(data11["MinTemp"].mean(),inplace=True)
data12["MinTemp"].fillna(data12["MinTemp"].mean(),inplace=True)
data13["MinTemp"].fillna(data13["MinTemp"].mean(),inplace=True)
data14["MinTemp"].fillna(data14["MinTemp"].mean(),inplace=True)
data15["MinTemp"].fillna(data15["MinTemp"].mean(),inplace=True)
data16["MinTemp"].fillna(data16["MinTemp"].mean(),inplace=True)
data17["MinTemp"].fillna(data17["MinTemp"].mean(),inplace=True)
data18["MinTemp"].fillna(data18["MinTemp"].mean(),inplace=True)
data19["MinTemp"].fillna(data19["MinTemp"].mean(),inplace=True)
data20["MinTemp"].fillna(data20["MinTemp"].mean(),inplace=True)
data21["MinTemp"].fillna(data21["MinTemp"].mean(),inplace=True)
data22["MinTemp"].fillna(data22["MinTemp"].mean(),inplace=True)
data23["MinTemp"].fillna(data23["MinTemp"].mean(),inplace=True)
data24["MinTemp"].fillna(data24["MinTemp"].mean(),inplace=True)
data25["MinTemp"].fillna(data25["MinTemp"].mean(),inplace=True)
data26["MinTemp"].fillna(data26["MinTemp"].mean(),inplace=True)
data27["MinTemp"].fillna(data27["MinTemp"].mean(),inplace=True)
data28["MinTemp"].fillna(data28["MinTemp"].mean(),inplace=True)
data29["MinTemp"].fillna(data29["MinTemp"].mean(),inplace=True)
data30["MinTemp"].fillna(data30["MinTemp"].mean(),inplace=True)
data31["MinTemp"].fillna(data31["MinTemp"].mean(),inplace=True)
data32["MinTemp"].fillna(data32["MinTemp"].mean(),inplace=True)
data33["MinTemp"].fillna(data33["MinTemp"].mean(),inplace=True)
data34["MinTemp"].fillna(data34["MinTemp"].mean(),inplace=True)
data35["MinTemp"].fillna(data35["MinTemp"].mean(),inplace=True)
data36["MinTemp"].fillna(data36["MinTemp"].mean(),inplace=True)
data37["MinTemp"].fillna(data37["MinTemp"].mean(),inplace=True)
data38["MinTemp"].fillna(data38["MinTemp"].mean(),inplace=True)
data39["MinTemp"].fillna(data39["MinTemp"].mean(),inplace=True)
data40["MinTemp"].fillna(data40["MinTemp"].mean(),inplace=True)
data41["MinTemp"].fillna(data41["MinTemp"].mean(),inplace=True)
data42["MinTemp"].fillna(data42["MinTemp"].mean(),inplace=True)
data43["MinTemp"].fillna(data43["MinTemp"].mean(),inplace=True)
data44["MinTemp"].fillna(data44["MinTemp"].mean(),inplace=True)
data45["MinTemp"].fillna(data45["MinTemp"].mean(),inplace=True)
data46["MinTemp"].fillna(data46["MinTemp"].mean(),inplace=True)
data47["MinTemp"].fillna(data47["MinTemp"].mean(),inplace=True)
data48["MinTemp"].fillna(data48["MinTemp"].mean(),inplace=True)
data49["MinTemp"].fillna(data49["MinTemp"].mean(),inplace=True)
data50["MinTemp"].fillna(data50["MinTemp"].mean(),inplace=True)

In [25]:
#Reemplamos los datos nulos de la columna VelRafaga por su promedio
data2["VelRafaga"].fillna(data2["VelRafaga"].mean(),inplace=True)
data3["VelRafaga"].fillna(data3["VelRafaga"].mean(),inplace=True)
data4["VelRafaga"].fillna(data4["VelRafaga"].mean(),inplace=True)
data5["VelRafaga"].fillna(data5["VelRafaga"].mean(),inplace=True)
data6["VelRafaga"].fillna(data6["VelRafaga"].mean(),inplace=True)
data7["VelRafaga"].fillna(data7["VelRafaga"].mean(),inplace=True)
data8["VelRafaga"].fillna(data8["VelRafaga"].mean(),inplace=True)
data9["VelRafaga"].fillna(data9["VelRafaga"].mean(),inplace=True)
data10["VelRafaga"].fillna(data10["VelRafaga"].mean(),inplace=True)
data11["VelRafaga"].fillna(data11["VelRafaga"].mean(),inplace=True)
data12["VelRafaga"].fillna(data12["VelRafaga"].mean(),inplace=True)
data13["VelRafaga"].fillna(data13["VelRafaga"].mean(),inplace=True)
data14["VelRafaga"].fillna(data14["VelRafaga"].mean(),inplace=True)
data15["VelRafaga"].fillna(data15["VelRafaga"].mean(),inplace=True)
data16["VelRafaga"].fillna(data16["VelRafaga"].mean(),inplace=True)
data17["VelRafaga"].fillna(data17["VelRafaga"].mean(),inplace=True)
data18["VelRafaga"].fillna(data18["VelRafaga"].mean(),inplace=True)
data19["VelRafaga"].fillna(data19["VelRafaga"].mean(),inplace=True)
data20["VelRafaga"].fillna(data20["VelRafaga"].mean(),inplace=True)
data21["VelRafaga"].fillna(data21["VelRafaga"].mean(),inplace=True)
data22["VelRafaga"].fillna(data22["VelRafaga"].mean(),inplace=True)
data23["VelRafaga"].fillna(data23["VelRafaga"].mean(),inplace=True)
data24["VelRafaga"].fillna(data24["VelRafaga"].mean(),inplace=True)
data25["VelRafaga"].fillna(data25["VelRafaga"].mean(),inplace=True)
data26["VelRafaga"].fillna(data26["VelRafaga"].mean(),inplace=True)
data27["VelRafaga"].fillna(data27["VelRafaga"].mean(),inplace=True)
data28["VelRafaga"].fillna(data28["VelRafaga"].mean(),inplace=True)
data29["VelRafaga"].fillna(data29["VelRafaga"].mean(),inplace=True)
data30["VelRafaga"].fillna(data30["VelRafaga"].mean(),inplace=True)
data31["VelRafaga"].fillna(data31["VelRafaga"].mean(),inplace=True)
data32["VelRafaga"].fillna(data32["VelRafaga"].mean(),inplace=True)
data33["VelRafaga"].fillna(data33["VelRafaga"].mean(),inplace=True)
data34["VelRafaga"].fillna(data34["VelRafaga"].mean(),inplace=True)
data35["VelRafaga"].fillna(data35["VelRafaga"].mean(),inplace=True)
data36["VelRafaga"].fillna(data36["VelRafaga"].mean(),inplace=True)
data37["VelRafaga"].fillna(data37["VelRafaga"].mean(),inplace=True)
data38["VelRafaga"].fillna(data38["VelRafaga"].mean(),inplace=True)
data39["VelRafaga"].fillna(data39["VelRafaga"].mean(),inplace=True)
data40["VelRafaga"].fillna(data40["VelRafaga"].mean(),inplace=True)
data41["VelRafaga"].fillna(data41["VelRafaga"].mean(),inplace=True)
data42["VelRafaga"].fillna(data42["VelRafaga"].mean(),inplace=True)
data43["VelRafaga"].fillna(data43["VelRafaga"].mean(),inplace=True)
data44["VelRafaga"].fillna(data44["VelRafaga"].mean(),inplace=True)
data45["VelRafaga"].fillna(data45["VelRafaga"].mean(),inplace=True)
data46["VelRafaga"].fillna(data46["VelRafaga"].mean(),inplace=True)
data47["VelRafaga"].fillna(data47["VelRafaga"].mean(),inplace=True)
data48["VelRafaga"].fillna(data48["VelRafaga"].mean(),inplace=True)
data49["VelRafaga"].fillna(data49["VelRafaga"].mean(),inplace=True)
data50["VelRafaga"].fillna(data50["VelRafaga"].mean(),inplace=True)

In [26]:
#primero se realizo es siguiente comando por cada dataX "dataX['Dir9am'].value_counts()" 
#para revisar cual fue la mayor variable que se repitio luego se realizo el reemplazo de 
#los datos dependiendo de esta en cada uno de ellos
data2["Dir9am"].fillna("SE",inplace=True)
data3["Dir9am"].fillna("SW",inplace=True)
data4["Dir9am"].fillna("NE",inplace=True)
data5["Dir9am"].fillna("SW",inplace=True)
data6["Dir9am"].fillna("NNE",inplace=True)
data7["Dir9am"].fillna("NW",inplace=True)
data8["Dir9am"].fillna("SSW",inplace=True)
data9["Dir9am"].fillna("E",inplace=True)
data10["Dir9am"].fillna("SSW",inplace=True)
data11["Dir9am"].fillna("SSW",inplace=True)
data12["Dir9am"].fillna("W",inplace=True)
data13["Dir9am"].fillna("NW",inplace=True)
data14["Dir9am"].fillna("E",inplace=True)
data15["Dir9am"].fillna("WNW",inplace=True)
data16["Dir9am"].fillna("SW",inplace=True)
data17["Dir9am"].fillna("NNW",inplace=True)
data18["Dir9am"].fillna("NW",inplace=True)
data19["Dir9am"].fillna("W",inplace=True)
data20["Dir9am"].fillna("N",inplace=True)
data21["Dir9am"].fillna("SSE",inplace=True)
data22["Dir9am"].fillna("W",inplace=True)
data23["Dir9am"].fillna("N",inplace=True)
data24["Dir9am"].fillna("N",inplace=True)
data25["Dir9am"].fillna("S",inplace=True)
data26["Dir9am"].fillna("S",inplace=True)
data27["Dir9am"].fillna("N",inplace=True)
data28["Dir9am"].fillna("ENE",inplace=True)
data29["Dir9am"].fillna("N",inplace=True)
data30["Dir9am"].fillna("SW",inplace=True)
data31["Dir9am"].fillna("SSE",inplace=True)
data32["Dir9am"].fillna("SSE",inplace=True)
data33["Dir9am"].fillna("SE",inplace=True)
data34["Dir9am"].fillna("NNE",inplace=True)
data35["Dir9am"].fillna("N",inplace=True)
data36["Dir9am"].fillna("NE",inplace=True)
data37["Dir9am"].fillna("SE",inplace=True)
data38["Dir9am"].fillna("NW",inplace=True)
data39["Dir9am"].fillna("SE",inplace=True)
data40["Dir9am"].fillna("E",inplace=True)
data41["Dir9am"].fillna("ENE",inplace=True)
data42["Dir9am"].fillna("E",inplace=True)
data43["Dir9am"].fillna("N",inplace=True)
data44["Dir9am"].fillna("NW",inplace=True)
data45["Dir9am"].fillna("NNW",inplace=True)
data46["Dir9am"].fillna("NNW",inplace=True)
data47["Dir9am"].fillna("ESE",inplace=True)
data48["Dir9am"].fillna("SE",inplace=True)
data49["Dir9am"].fillna("SE",inplace=True)
data50["Dir9am"].fillna("E",inplace=True)

In [27]:
#primero se realizo es siguiente comando por cada dataX "dataX['Dir3pm'].value_counts()" 
#para revisar cual fue la mayor variable que se repitio luego se realizo el reemplazo de 
#los datos dependiendo de esta en cada uno de ellos
data2["Dir3pm"].fillna("W",inplace=True)
data3["Dir3pm"].fillna("NNE",inplace=True)
data4["Dir3pm"].fillna("SW",inplace=True)
data5["Dir3pm"].fillna("NE",inplace=True)
data6["Dir3pm"].fillna("SW",inplace=True)
data7["Dir3pm"].fillna("SE",inplace=True)
data8["Dir3pm"].fillna("NE",inplace=True)
data9["Dir3pm"].fillna("SE",inplace=True)
data10["Dir3pm"].fillna("NE",inplace=True)
data11["Dir3pm"].fillna("NE",inplace=True)
data12["Dir3pm"].fillna("E",inplace=True)
data13["Dir3pm"].fillna("NE",inplace=True)
data14["Dir3pm"].fillna("WSW",inplace=True)
data15["Dir3pm"].fillna("SE",inplace=True)
data16["Dir3pm"].fillna("NE",inplace=True)
data17["Dir3pm"].fillna("NW",inplace=True)
data18["Dir3pm"].fillna("NW",inplace=True)
data19["Dir3pm"].fillna("W",inplace=True)
data20["Dir3pm"].fillna("N",inplace=True)
data21["Dir3pm"].fillna("N",inplace=True)
data22["Dir3pm"].fillna("E",inplace=True)
data23["Dir3pm"].fillna("S",inplace=True)
data24["Dir3pm"].fillna("S",inplace=True)
data25["Dir3pm"].fillna("S",inplace=True)
data26["Dir3pm"].fillna("W",inplace=True)
data27["Dir3pm"].fillna("W",inplace=True)
data28["Dir3pm"].fillna("SW",inplace=True)
data29["Dir3pm"].fillna("SSW",inplace=True)
data30["Dir3pm"].fillna("ENE",inplace=True)
data31["Dir3pm"].fillna("SE",inplace=True)
data32["Dir3pm"].fillna("SE",inplace=True)
data33["Dir3pm"].fillna("ENE",inplace=True)
data34["Dir3pm"].fillna("WSW",inplace=True)
data35["Dir3pm"].fillna("S",inplace=True)
data36["Dir3pm"].fillna("WSW",inplace=True)
data37["Dir3pm"].fillna("SSW",inplace=True)
data38["Dir3pm"].fillna("ESE",inplace=True)
data39["Dir3pm"].fillna("SSE",inplace=True)
data40["Dir3pm"].fillna("SW",inplace=True)
data41["Dir3pm"].fillna("WSW",inplace=True)
data42["Dir3pm"].fillna("SW",inplace=True)
data43["Dir3pm"].fillna("S",inplace=True)
data44["Dir3pm"].fillna("SSE",inplace=True)
data45["Dir3pm"].fillna("SE",inplace=True)
data46["Dir3pm"].fillna("NNW",inplace=True)
data47["Dir3pm"].fillna("ESE",inplace=True)
data48["Dir3pm"].fillna("WNW",inplace=True)
data49["Dir3pm"].fillna("ESE",inplace=True)
data50["Dir3pm"].fillna("E",inplace=True)

In [28]:
#Reemplamos los datos nulos de la columna Vel9am por su promedio
data2["Vel9am"].fillna(data2["Vel9am"].mean(),inplace=True)
data3["Vel9am"].fillna(data3["Vel9am"].mean(),inplace=True)
data4["Vel9am"].fillna(data4["Vel9am"].mean(),inplace=True)
data5["Vel9am"].fillna(data5["Vel9am"].mean(),inplace=True)
data6["Vel9am"].fillna(data6["Vel9am"].mean(),inplace=True)
data7["Vel9am"].fillna(data7["Vel9am"].mean(),inplace=True)
data8["Vel9am"].fillna(data8["Vel9am"].mean(),inplace=True)
data9["Vel9am"].fillna(data9["Vel9am"].mean(),inplace=True)
data10["Vel9am"].fillna(data10["Vel9am"].mean(),inplace=True)
data11["Vel9am"].fillna(data11["Vel9am"].mean(),inplace=True)
data12["Vel9am"].fillna(data12["Vel9am"].mean(),inplace=True)
data13["Vel9am"].fillna(data13["Vel9am"].mean(),inplace=True)
data14["Vel9am"].fillna(data14["Vel9am"].mean(),inplace=True)
data15["Vel9am"].fillna(data15["Vel9am"].mean(),inplace=True)
data16["Vel9am"].fillna(data16["Vel9am"].mean(),inplace=True)
data17["Vel9am"].fillna(data17["Vel9am"].mean(),inplace=True)
data18["Vel9am"].fillna(data18["Vel9am"].mean(),inplace=True)
data19["Vel9am"].fillna(data19["Vel9am"].mean(),inplace=True)
data20["Vel9am"].fillna(data20["Vel9am"].mean(),inplace=True)
data21["Vel9am"].fillna(data21["Vel9am"].mean(),inplace=True)
data22["Vel9am"].fillna(data22["Vel9am"].mean(),inplace=True)
data23["Vel9am"].fillna(data23["Vel9am"].mean(),inplace=True)
data24["Vel9am"].fillna(data24["Vel9am"].mean(),inplace=True)
data25["Vel9am"].fillna(data25["Vel9am"].mean(),inplace=True)
data26["Vel9am"].fillna(data26["Vel9am"].mean(),inplace=True)
data27["Vel9am"].fillna(data27["Vel9am"].mean(),inplace=True)
data28["Vel9am"].fillna(data28["Vel9am"].mean(),inplace=True)
data29["Vel9am"].fillna(data29["Vel9am"].mean(),inplace=True)
data30["Vel9am"].fillna(data30["Vel9am"].mean(),inplace=True)
data31["Vel9am"].fillna(data31["Vel9am"].mean(),inplace=True)
data32["Vel9am"].fillna(data32["Vel9am"].mean(),inplace=True)
data33["Vel9am"].fillna(data33["Vel9am"].mean(),inplace=True)
data34["Vel9am"].fillna(data34["Vel9am"].mean(),inplace=True)
data35["Vel9am"].fillna(data35["Vel9am"].mean(),inplace=True)
data36["Vel9am"].fillna(data36["Vel9am"].mean(),inplace=True)
data37["Vel9am"].fillna(data37["Vel9am"].mean(),inplace=True)
data38["Vel9am"].fillna(data38["Vel9am"].mean(),inplace=True)
data39["Vel9am"].fillna(data39["Vel9am"].mean(),inplace=True)
data40["Vel9am"].fillna(data40["Vel9am"].mean(),inplace=True)
data41["Vel9am"].fillna(data41["Vel9am"].mean(),inplace=True)
data42["Vel9am"].fillna(data42["Vel9am"].mean(),inplace=True)
data43["Vel9am"].fillna(data43["Vel9am"].mean(),inplace=True)
data44["Vel9am"].fillna(data44["Vel9am"].mean(),inplace=True)
data45["Vel9am"].fillna(data45["Vel9am"].mean(),inplace=True)
data46["Vel9am"].fillna(data46["Vel9am"].mean(),inplace=True)
data47["Vel9am"].fillna(data47["Vel9am"].mean(),inplace=True)
data48["Vel9am"].fillna(data48["Vel9am"].mean(),inplace=True)
data49["Vel9am"].fillna(data49["Vel9am"].mean(),inplace=True)
data50["Vel9am"].fillna(data50["Vel9am"].mean(),inplace=True)

In [29]:
#Reemplamos los datos nulos de la columna Vel3pm por su promedio
data2["Vel3pm"].fillna(data2["Vel3pm"].mean(),inplace=True)
data3["Vel3pm"].fillna(data3["Vel3pm"].mean(),inplace=True)
data4["Vel3pm"].fillna(data4["Vel3pm"].mean(),inplace=True)
data5["Vel3pm"].fillna(data5["Vel3pm"].mean(),inplace=True)
data6["Vel3pm"].fillna(data6["Vel3pm"].mean(),inplace=True)
data7["Vel3pm"].fillna(data7["Vel3pm"].mean(),inplace=True)
data8["Vel3pm"].fillna(data8["Vel3pm"].mean(),inplace=True)
data9["Vel3pm"].fillna(data9["Vel3pm"].mean(),inplace=True)
data10["Vel3pm"].fillna(data10["Vel3pm"].mean(),inplace=True)
data11["Vel3pm"].fillna(data11["Vel3pm"].mean(),inplace=True)
data12["Vel3pm"].fillna(data12["Vel3pm"].mean(),inplace=True)
data13["Vel3pm"].fillna(data13["Vel3pm"].mean(),inplace=True)
data14["Vel3pm"].fillna(data14["Vel3pm"].mean(),inplace=True)
data15["Vel3pm"].fillna(data15["Vel3pm"].mean(),inplace=True)
data16["Vel3pm"].fillna(data16["Vel3pm"].mean(),inplace=True)
data17["Vel3pm"].fillna(data17["Vel3pm"].mean(),inplace=True)
data18["Vel3pm"].fillna(data18["Vel3pm"].mean(),inplace=True)
data19["Vel3pm"].fillna(data19["Vel3pm"].mean(),inplace=True)
data20["Vel3pm"].fillna(data20["Vel3pm"].mean(),inplace=True)
data21["Vel3pm"].fillna(data21["Vel3pm"].mean(),inplace=True)
data22["Vel3pm"].fillna(data22["Vel3pm"].mean(),inplace=True)
data23["Vel3pm"].fillna(data23["Vel3pm"].mean(),inplace=True)
data24["Vel3pm"].fillna(data24["Vel3pm"].mean(),inplace=True)
data25["Vel3pm"].fillna(data25["Vel3pm"].mean(),inplace=True)
data26["Vel3pm"].fillna(data26["Vel3pm"].mean(),inplace=True)
data27["Vel3pm"].fillna(data27["Vel3pm"].mean(),inplace=True)
data28["Vel3pm"].fillna(data28["Vel3pm"].mean(),inplace=True)
data29["Vel3pm"].fillna(data29["Vel3pm"].mean(),inplace=True)
data30["Vel3pm"].fillna(data30["Vel3pm"].mean(),inplace=True)
data31["Vel3pm"].fillna(data31["Vel3pm"].mean(),inplace=True)
data32["Vel3pm"].fillna(data32["Vel3pm"].mean(),inplace=True)
data33["Vel3pm"].fillna(data33["Vel3pm"].mean(),inplace=True)
data34["Vel3pm"].fillna(data34["Vel3pm"].mean(),inplace=True)
data35["Vel3pm"].fillna(data35["Vel3pm"].mean(),inplace=True)
data36["Vel3pm"].fillna(data36["Vel3pm"].mean(),inplace=True)
data37["Vel3pm"].fillna(data37["Vel3pm"].mean(),inplace=True)
data38["Vel3pm"].fillna(data38["Vel3pm"].mean(),inplace=True)
data39["Vel3pm"].fillna(data39["Vel3pm"].mean(),inplace=True)
data40["Vel3pm"].fillna(data40["Vel3pm"].mean(),inplace=True)
data41["Vel3pm"].fillna(data41["Vel3pm"].mean(),inplace=True)
data42["Vel3pm"].fillna(data42["Vel3pm"].mean(),inplace=True)
data43["Vel3pm"].fillna(data43["Vel3pm"].mean(),inplace=True)
data44["Vel3pm"].fillna(data44["Vel3pm"].mean(),inplace=True)
data45["Vel3pm"].fillna(data45["Vel3pm"].mean(),inplace=True)
data46["Vel3pm"].fillna(data46["Vel3pm"].mean(),inplace=True)
data47["Vel3pm"].fillna(data47["Vel3pm"].mean(),inplace=True)
data48["Vel3pm"].fillna(data48["Vel3pm"].mean(),inplace=True)
data49["Vel3pm"].fillna(data49["Vel3pm"].mean(),inplace=True)
data50["Vel3pm"].fillna(data50["Vel3pm"].mean(),inplace=True)

In [30]:
#Reemplamos los datos nulos de la columna Vel3pm por su promedio
data2["VelRafaga"].fillna(data2["VelRafaga"].mean(),inplace=True)
data3["VelRafaga"].fillna(data3["VelRafaga"].mean(),inplace=True)
data4["VelRafaga"].fillna(data4["VelRafaga"].mean(),inplace=True)
data5["VelRafaga"].fillna(data5["VelRafaga"].mean(),inplace=True)
data6["VelRafaga"].fillna(data6["VelRafaga"].mean(),inplace=True)
data7["VelRafaga"].fillna(data7["VelRafaga"].mean(),inplace=True)
data8["VelRafaga"].fillna(data8["VelRafaga"].mean(),inplace=True)
data9["VelRafaga"].fillna(data9["VelRafaga"].mean(),inplace=True)
data10["VelRafaga"].fillna(data10["VelRafaga"].mean(),inplace=True)
data11["VelRafaga"].fillna(data11["VelRafaga"].mean(),inplace=True)
data12["VelRafaga"].fillna(data12["VelRafaga"].mean(),inplace=True)
data13["VelRafaga"].fillna(data13["VelRafaga"].mean(),inplace=True)
data14["VelRafaga"].fillna(data14["VelRafaga"].mean(),inplace=True)
data15["VelRafaga"].fillna(data15["VelRafaga"].mean(),inplace=True)
data16["VelRafaga"].fillna(data16["VelRafaga"].mean(),inplace=True)
data17["VelRafaga"].fillna(data17["VelRafaga"].mean(),inplace=True)
data18["VelRafaga"].fillna(data18["VelRafaga"].mean(),inplace=True)
data19["VelRafaga"].fillna(data19["VelRafaga"].mean(),inplace=True)
data20["VelRafaga"].fillna(data20["VelRafaga"].mean(),inplace=True)
data21["VelRafaga"].fillna(data21["VelRafaga"].mean(),inplace=True)
data22["VelRafaga"].fillna(data22["VelRafaga"].mean(),inplace=True)
data23["VelRafaga"].fillna(data23["VelRafaga"].mean(),inplace=True)
data24["VelRafaga"].fillna(data24["VelRafaga"].mean(),inplace=True)
data25["VelRafaga"].fillna(data25["VelRafaga"].mean(),inplace=True)
data26["VelRafaga"].fillna(data26["VelRafaga"].mean(),inplace=True)
data27["VelRafaga"].fillna(data27["VelRafaga"].mean(),inplace=True)
data28["VelRafaga"].fillna(data28["VelRafaga"].mean(),inplace=True)
data29["VelRafaga"].fillna(data29["VelRafaga"].mean(),inplace=True)
data30["VelRafaga"].fillna(data30["VelRafaga"].mean(),inplace=True)
data31["VelRafaga"].fillna(data31["VelRafaga"].mean(),inplace=True)
data32["VelRafaga"].fillna(data32["VelRafaga"].mean(),inplace=True)
data33["VelRafaga"].fillna(data33["VelRafaga"].mean(),inplace=True)
data34["VelRafaga"].fillna(data34["VelRafaga"].mean(),inplace=True)
data35["VelRafaga"].fillna(data35["VelRafaga"].mean(),inplace=True)
data36["VelRafaga"].fillna(data36["VelRafaga"].mean(),inplace=True)
data37["VelRafaga"].fillna(data37["VelRafaga"].mean(),inplace=True)
data38["VelRafaga"].fillna(data38["VelRafaga"].mean(),inplace=True)
data39["VelRafaga"].fillna(data39["VelRafaga"].mean(),inplace=True)
data40["VelRafaga"].fillna(data40["VelRafaga"].mean(),inplace=True)
data41["VelRafaga"].fillna(data41["VelRafaga"].mean(),inplace=True)
data42["VelRafaga"].fillna(data42["VelRafaga"].mean(),inplace=True)
data43["VelRafaga"].fillna(data43["VelRafaga"].mean(),inplace=True)
data44["VelRafaga"].fillna(data44["VelRafaga"].mean(),inplace=True)
data45["VelRafaga"].fillna(data45["VelRafaga"].mean(),inplace=True)
data46["VelRafaga"].fillna(data46["VelRafaga"].mean(),inplace=True)
data47["VelRafaga"].fillna(data47["VelRafaga"].mean(),inplace=True)
data48["VelRafaga"].fillna(data48["VelRafaga"].mean(),inplace=True)
data49["VelRafaga"].fillna(data49["VelRafaga"].mean(),inplace=True)
data50["VelRafaga"].fillna(data50["VelRafaga"].mean(),inplace=True)

In [31]:
data2["Hum9am"].fillna(data2["Hum9am"].mean(),inplace=True)
data3["Hum9am"].fillna(data3["Hum9am"].mean(),inplace=True)
data4["Hum9am"].fillna(data4["Hum9am"].mean(),inplace=True)
data5["Hum9am"].fillna(data5["Hum9am"].mean(),inplace=True)
data6["Hum9am"].fillna(data6["Hum9am"].mean(),inplace=True)
data7["Hum9am"].fillna(data7["Hum9am"].mean(),inplace=True)
data8["Hum9am"].fillna(data8["Hum9am"].mean(),inplace=True)
data9["Hum9am"].fillna(data9["Hum9am"].mean(),inplace=True)
data10["Hum9am"].fillna(data10["Hum9am"].mean(),inplace=True)
data11["Hum9am"].fillna(data11["Hum9am"].mean(),inplace=True)
data12["Hum9am"].fillna(data12["Hum9am"].mean(),inplace=True)
data13["Hum9am"].fillna(data13["Hum9am"].mean(),inplace=True)
data14["Hum9am"].fillna(data14["Hum9am"].mean(),inplace=True)
data15["Hum9am"].fillna(data15["Hum9am"].mean(),inplace=True)
data16["Hum9am"].fillna(data16["Hum9am"].mean(),inplace=True)
data17["Hum9am"].fillna(data17["Hum9am"].mean(),inplace=True)
data18["Hum9am"].fillna(data18["Hum9am"].mean(),inplace=True)
data19["Hum9am"].fillna(data19["Hum9am"].mean(),inplace=True)
data20["Hum9am"].fillna(data20["Hum9am"].mean(),inplace=True)
data21["Hum9am"].fillna(data21["Hum9am"].mean(),inplace=True)
data22["Hum9am"].fillna(data22["Hum9am"].mean(),inplace=True)
data23["Hum9am"].fillna(data23["Hum9am"].mean(),inplace=True)
data24["Hum9am"].fillna(data24["Hum9am"].mean(),inplace=True)
data25["Hum9am"].fillna(data25["Hum9am"].mean(),inplace=True)
data26["Hum9am"].fillna(data26["Hum9am"].mean(),inplace=True)
data27["Hum9am"].fillna(data27["Hum9am"].mean(),inplace=True)
data28["Hum9am"].fillna(data28["Hum9am"].mean(),inplace=True)
data29["Hum9am"].fillna(data29["Hum9am"].mean(),inplace=True)
data30["Hum9am"].fillna(data30["Hum9am"].mean(),inplace=True)
data31["Hum9am"].fillna(data31["Hum9am"].mean(),inplace=True)
data32["Hum9am"].fillna(data32["Hum9am"].mean(),inplace=True)
data33["Hum9am"].fillna(data33["Hum9am"].mean(),inplace=True)
data34["Hum9am"].fillna(data34["Hum9am"].mean(),inplace=True)
data35["Hum9am"].fillna(data35["Hum9am"].mean(),inplace=True)
data36["Hum9am"].fillna(data36["Hum9am"].mean(),inplace=True)
data37["Hum9am"].fillna(data37["Hum9am"].mean(),inplace=True)
data38["Hum9am"].fillna(data38["Hum9am"].mean(),inplace=True)
data39["Hum9am"].fillna(data39["Hum9am"].mean(),inplace=True)
data40["Hum9am"].fillna(data40["Hum9am"].mean(),inplace=True)
data41["Hum9am"].fillna(data41["Hum9am"].mean(),inplace=True)
data42["Hum9am"].fillna(data42["Hum9am"].mean(),inplace=True)
data43["Hum9am"].fillna(data43["Hum9am"].mean(),inplace=True)
data44["Hum9am"].fillna(data44["Hum9am"].mean(),inplace=True)
data45["Hum9am"].fillna(data45["Hum9am"].mean(),inplace=True)
data46["Hum9am"].fillna(data46["Hum9am"].mean(),inplace=True)
data47["Hum9am"].fillna(data47["Hum9am"].mean(),inplace=True)
data48["Hum9am"].fillna(data48["Hum9am"].mean(),inplace=True)
data49["Hum9am"].fillna(data49["Hum9am"].mean(),inplace=True)
data50["Hum9am"].fillna(data50["Hum9am"].mean(),inplace=True)

In [32]:
#Reemplamos los datos nulos de la columna Hum3pm por su promedio
data2["Hum3pm"].fillna(data2["Hum3pm"].mean(),inplace=True)
data3["Hum3pm"].fillna(data3["Hum3pm"].mean(),inplace=True)
data4["Hum3pm"].fillna(data4["Hum3pm"].mean(),inplace=True)
data5["Hum3pm"].fillna(data5["Hum3pm"].mean(),inplace=True)
data6["Hum3pm"].fillna(data6["Hum3pm"].mean(),inplace=True)
data7["Hum3pm"].fillna(data7["Hum3pm"].mean(),inplace=True)
data8["Hum3pm"].fillna(data8["Hum3pm"].mean(),inplace=True)
data9["Hum3pm"].fillna(data9["Hum3pm"].mean(),inplace=True)
data10["Hum3pm"].fillna(data10["Hum3pm"].mean(),inplace=True)
data11["Hum3pm"].fillna(data11["Hum3pm"].mean(),inplace=True)
data12["Hum3pm"].fillna(data12["Hum3pm"].mean(),inplace=True)
data13["Hum3pm"].fillna(data13["Hum3pm"].mean(),inplace=True)
data14["Hum3pm"].fillna(data14["Hum3pm"].mean(),inplace=True)
data15["Hum3pm"].fillna(data15["Hum3pm"].mean(),inplace=True)
data16["Hum3pm"].fillna(data16["Hum3pm"].mean(),inplace=True)
data17["Hum3pm"].fillna(data17["Hum3pm"].mean(),inplace=True)
data18["Hum3pm"].fillna(data18["Hum3pm"].mean(),inplace=True)
data19["Hum3pm"].fillna(data19["Hum3pm"].mean(),inplace=True)
data20["Hum3pm"].fillna(data20["Hum3pm"].mean(),inplace=True)
data21["Hum3pm"].fillna(data21["Hum3pm"].mean(),inplace=True)
data22["Hum3pm"].fillna(data22["Hum3pm"].mean(),inplace=True)
data23["Hum3pm"].fillna(data23["Hum3pm"].mean(),inplace=True)
data24["Hum3pm"].fillna(data24["Hum3pm"].mean(),inplace=True)
data25["Hum3pm"].fillna(data25["Hum3pm"].mean(),inplace=True)
data26["Hum3pm"].fillna(data26["Hum3pm"].mean(),inplace=True)
data27["Hum3pm"].fillna(data27["Hum3pm"].mean(),inplace=True)
data28["Hum3pm"].fillna(data28["Hum3pm"].mean(),inplace=True)
data29["Hum3pm"].fillna(data29["Hum3pm"].mean(),inplace=True)
data30["Hum3pm"].fillna(data30["Hum3pm"].mean(),inplace=True)
data31["Hum3pm"].fillna(data31["Hum3pm"].mean(),inplace=True)
data32["Hum3pm"].fillna(data32["Hum3pm"].mean(),inplace=True)
data33["Hum3pm"].fillna(data33["Hum3pm"].mean(),inplace=True)
data34["Hum3pm"].fillna(data34["Hum3pm"].mean(),inplace=True)
data35["Hum3pm"].fillna(data35["Hum3pm"].mean(),inplace=True)
data36["Hum3pm"].fillna(data36["Hum3pm"].mean(),inplace=True)
data37["Hum3pm"].fillna(data37["Hum3pm"].mean(),inplace=True)
data38["Hum3pm"].fillna(data38["Hum3pm"].mean(),inplace=True)
data39["Hum3pm"].fillna(data39["Hum3pm"].mean(),inplace=True)
data40["Hum3pm"].fillna(data40["Hum3pm"].mean(),inplace=True)
data41["Hum3pm"].fillna(data41["Hum3pm"].mean(),inplace=True)
data42["Hum3pm"].fillna(data42["Hum3pm"].mean(),inplace=True)
data43["Hum3pm"].fillna(data43["Hum3pm"].mean(),inplace=True)
data44["Hum3pm"].fillna(data44["Hum3pm"].mean(),inplace=True)
data45["Hum3pm"].fillna(data45["Hum3pm"].mean(),inplace=True)
data46["Hum3pm"].fillna(data46["Hum3pm"].mean(),inplace=True)
data47["Hum3pm"].fillna(data47["Hum3pm"].mean(),inplace=True)
data48["Hum3pm"].fillna(data48["Hum3pm"].mean(),inplace=True)
data49["Hum3pm"].fillna(data49["Hum3pm"].mean(),inplace=True)
data50["Hum3pm"].fillna(data50["Hum3pm"].mean(),inplace=True)

In [33]:
#Reemplamos los datos nulos de la columna Pres9am por su promedio
data2["Pres9am"].fillna(data2["Pres9am"].mean(),inplace=True)
data3["Pres9am"].fillna(data3["Pres9am"].mean(),inplace=True)
data4["Pres9am"].fillna(data4["Pres9am"].mean(),inplace=True)
data5["Pres9am"].fillna(data5["Pres9am"].mean(),inplace=True)
data6["Pres9am"].fillna(data6["Pres9am"].mean(),inplace=True)
data7["Pres9am"].fillna(data7["Pres9am"].mean(),inplace=True)
data8["Pres9am"].fillna(data8["Pres9am"].mean(),inplace=True)
data9["Pres9am"].fillna(data9["Pres9am"].mean(),inplace=True)
data10["Pres9am"].fillna(data10["Pres9am"].mean(),inplace=True)
data11["Pres9am"].fillna(data11["Pres9am"].mean(),inplace=True)
data12["Pres9am"].fillna(data12["Pres9am"].mean(),inplace=True)
data13["Pres9am"].fillna(data13["Pres9am"].mean(),inplace=True)
data14["Pres9am"].fillna(data14["Pres9am"].mean(),inplace=True)
data15["Pres9am"].fillna(data15["Pres9am"].mean(),inplace=True)
data16["Pres9am"].fillna(data16["Pres9am"].mean(),inplace=True)
data17["Pres9am"].fillna(data17["Pres9am"].mean(),inplace=True)
data18["Pres9am"].fillna(data18["Pres9am"].mean(),inplace=True)
data19["Pres9am"].fillna(data19["Pres9am"].mean(),inplace=True)
data20["Pres9am"].fillna(data20["Pres9am"].mean(),inplace=True)
data21["Pres9am"].fillna(data21["Pres9am"].mean(),inplace=True)
data22["Pres9am"].fillna(data22["Pres9am"].mean(),inplace=True)
data23["Pres9am"].fillna(data23["Pres9am"].mean(),inplace=True)
data24["Pres9am"].fillna(data24["Pres9am"].mean(),inplace=True)
data25["Pres9am"].fillna(data25["Pres9am"].mean(),inplace=True)
data26["Pres9am"].fillna(data26["Pres9am"].mean(),inplace=True)
data27["Pres9am"].fillna(data27["Pres9am"].mean(),inplace=True)
data28["Pres9am"].fillna(data28["Pres9am"].mean(),inplace=True)
data29["Pres9am"].fillna(data29["Pres9am"].mean(),inplace=True)
data30["Pres9am"].fillna(data30["Pres9am"].mean(),inplace=True)
data31["Pres9am"].fillna(data31["Pres9am"].mean(),inplace=True)
data32["Pres9am"].fillna(data32["Pres9am"].mean(),inplace=True)
data33["Pres9am"].fillna(data33["Pres9am"].mean(),inplace=True)
data34["Pres9am"].fillna(data34["Pres9am"].mean(),inplace=True)
data35["Pres9am"].fillna(data35["Pres9am"].mean(),inplace=True)
data36["Pres9am"].fillna(data36["Pres9am"].mean(),inplace=True)
data37["Pres9am"].fillna(data37["Pres9am"].mean(),inplace=True)
data38["Pres9am"].fillna(data38["Pres9am"].mean(),inplace=True)
data39["Pres9am"].fillna(data39["Pres9am"].mean(),inplace=True)
data40["Pres9am"].fillna(data40["Pres9am"].mean(),inplace=True)
data41["Pres9am"].fillna(data41["Pres9am"].mean(),inplace=True)
data42["Pres9am"].fillna(data42["Pres9am"].mean(),inplace=True)
data43["Pres9am"].fillna(data43["Pres9am"].mean(),inplace=True)
data44["Pres9am"].fillna(data44["Pres9am"].mean(),inplace=True)
data45["Pres9am"].fillna(data45["Pres9am"].mean(),inplace=True)
data46["Pres9am"].fillna(data46["Pres9am"].mean(),inplace=True)
data47["Pres9am"].fillna(data47["Pres9am"].mean(),inplace=True)
data48["Pres9am"].fillna(data48["Pres9am"].mean(),inplace=True)
data49["Pres9am"].fillna(data49["Pres9am"].mean(),inplace=True)
data50["Pres9am"].fillna(data50["Pres9am"].mean(),inplace=True)

In [34]:
#Reemplamos los datos nulos de la columna Pres3pm por su promedio
data2["Pres3pm"].fillna(data2["Pres3pm"].mean(),inplace=True)
data3["Pres3pm"].fillna(data3["Pres3pm"].mean(),inplace=True)
data4["Pres3pm"].fillna(data4["Pres3pm"].mean(),inplace=True)
data5["Pres3pm"].fillna(data5["Pres3pm"].mean(),inplace=True)
data6["Pres3pm"].fillna(data6["Pres3pm"].mean(),inplace=True)
data7["Pres3pm"].fillna(data7["Pres3pm"].mean(),inplace=True)
data8["Pres3pm"].fillna(data8["Pres3pm"].mean(),inplace=True)
data9["Pres3pm"].fillna(data9["Pres3pm"].mean(),inplace=True)
data10["Pres3pm"].fillna(data10["Pres3pm"].mean(),inplace=True)
data11["Pres3pm"].fillna(data11["Pres3pm"].mean(),inplace=True)
data12["Pres3pm"].fillna(data12["Pres3pm"].mean(),inplace=True)
data13["Pres3pm"].fillna(data13["Pres3pm"].mean(),inplace=True)
data14["Pres3pm"].fillna(data14["Pres3pm"].mean(),inplace=True)
data15["Pres3pm"].fillna(data15["Pres3pm"].mean(),inplace=True)
data16["Pres3pm"].fillna(data16["Pres3pm"].mean(),inplace=True)
data17["Pres3pm"].fillna(data17["Pres3pm"].mean(),inplace=True)
data18["Pres3pm"].fillna(data18["Pres3pm"].mean(),inplace=True)
data19["Pres3pm"].fillna(data19["Pres3pm"].mean(),inplace=True)
data20["Pres3pm"].fillna(data20["Pres3pm"].mean(),inplace=True)
data21["Pres3pm"].fillna(data21["Pres3pm"].mean(),inplace=True)
data22["Pres3pm"].fillna(data22["Pres3pm"].mean(),inplace=True)
data23["Pres3pm"].fillna(data23["Pres3pm"].mean(),inplace=True)
data24["Pres3pm"].fillna(data24["Pres3pm"].mean(),inplace=True)
data25["Pres3pm"].fillna(data25["Pres3pm"].mean(),inplace=True)
data26["Pres3pm"].fillna(data26["Pres3pm"].mean(),inplace=True)
data27["Pres3pm"].fillna(data27["Pres3pm"].mean(),inplace=True)
data28["Pres3pm"].fillna(data28["Pres3pm"].mean(),inplace=True)
data29["Pres3pm"].fillna(data29["Pres3pm"].mean(),inplace=True)
data30["Pres3pm"].fillna(data30["Pres3pm"].mean(),inplace=True)
data31["Pres3pm"].fillna(data31["Pres3pm"].mean(),inplace=True)
data32["Pres3pm"].fillna(data32["Pres3pm"].mean(),inplace=True)
data33["Pres3pm"].fillna(data33["Pres3pm"].mean(),inplace=True)
data34["Pres3pm"].fillna(data34["Pres3pm"].mean(),inplace=True)
data35["Pres3pm"].fillna(data35["Pres3pm"].mean(),inplace=True)
data36["Pres3pm"].fillna(data36["Pres3pm"].mean(),inplace=True)
data37["Pres3pm"].fillna(data37["Pres3pm"].mean(),inplace=True)
data38["Pres3pm"].fillna(data38["Pres3pm"].mean(),inplace=True)
data39["Pres3pm"].fillna(data39["Pres3pm"].mean(),inplace=True)
data40["Pres3pm"].fillna(data40["Pres3pm"].mean(),inplace=True)
data41["Pres3pm"].fillna(data41["Pres3pm"].mean(),inplace=True)
data42["Pres3pm"].fillna(data42["Pres3pm"].mean(),inplace=True)
data43["Pres3pm"].fillna(data43["Pres3pm"].mean(),inplace=True)
data44["Pres3pm"].fillna(data44["Pres3pm"].mean(),inplace=True)
data45["Pres3pm"].fillna(data45["Pres3pm"].mean(),inplace=True)
data46["Pres3pm"].fillna(data46["Pres3pm"].mean(),inplace=True)
data47["Pres3pm"].fillna(data47["Pres3pm"].mean(),inplace=True)
data48["Pres3pm"].fillna(data48["Pres3pm"].mean(),inplace=True)
data49["Pres3pm"].fillna(data49["Pres3pm"].mean(),inplace=True)
data50["Pres3pm"].fillna(data50["Pres3pm"].mean(),inplace=True)

In [35]:
#Reemplamos los datos nulos de la columna Temp9am por su promedio
data2["Temp9am"].fillna(round(data2["Temp9am"].mean()),inplace=True)
data3["Temp9am"].fillna(round(data3["Temp9am"].mean()),inplace=True)
data4["Temp9am"].fillna(round(data4["Temp9am"].mean()),inplace=True)
data5["Temp9am"].fillna(round(data5["Temp9am"].mean()),inplace=True)
data6["Temp9am"].fillna(round(data6["Temp9am"].mean()),inplace=True)
data7["Temp9am"].fillna(round(data7["Temp9am"].mean()),inplace=True)
data8["Temp9am"].fillna(round(data8["Temp9am"].mean()),inplace=True)
data9["Temp9am"].fillna(round(data9["Temp9am"].mean()),inplace=True)
data10["Temp9am"].fillna(round(data10["Temp9am"].mean()),inplace=True)
data11["Temp9am"].fillna(round(data11["Temp9am"].mean()),inplace=True)
data12["Temp9am"].fillna(round(data12["Temp9am"].mean()),inplace=True)
data13["Temp9am"].fillna(round(data13["Temp9am"].mean()),inplace=True)
data14["Temp9am"].fillna(round(data14["Temp9am"].mean()),inplace=True)
data15["Temp9am"].fillna(round(data15["Temp9am"].mean()),inplace=True)
data16["Temp9am"].fillna(round(data16["Temp9am"].mean()),inplace=True)
data17["Temp9am"].fillna(round(data17["Temp9am"].mean()),inplace=True)
data18["Temp9am"].fillna(round(data18["Temp9am"].mean()),inplace=True)
data19["Temp9am"].fillna(round(data19["Temp9am"].mean()),inplace=True)
data20["Temp9am"].fillna(round(data20["Temp9am"].mean()),inplace=True)
data21["Temp9am"].fillna(round(data21["Temp9am"].mean()),inplace=True)
data22["Temp9am"].fillna(round(data22["Temp9am"].mean()),inplace=True)
data23["Temp9am"].fillna(round(data23["Temp9am"].mean()),inplace=True)
data24["Temp9am"].fillna(round(data24["Temp9am"].mean()),inplace=True)
data25["Temp9am"].fillna(round(data25["Temp9am"].mean()),inplace=True)
data26["Temp9am"].fillna(round(data26["Temp9am"].mean()),inplace=True)
data27["Temp9am"].fillna(round(data27["Temp9am"].mean()),inplace=True)
data28["Temp9am"].fillna(round(data28["Temp9am"].mean()),inplace=True)
data29["Temp9am"].fillna(round(data29["Temp9am"].mean()),inplace=True)
data30["Temp9am"].fillna(round(data30["Temp9am"].mean()),inplace=True)
data31["Temp9am"].fillna(round(data31["Temp9am"].mean()),inplace=True)
data32["Temp9am"].fillna(round(data32["Temp9am"].mean()),inplace=True)
data33["Temp9am"].fillna(round(data33["Temp9am"].mean()),inplace=True)
data34["Temp9am"].fillna(round(data34["Temp9am"].mean()),inplace=True)
data35["Temp9am"].fillna(round(data35["Temp9am"].mean()),inplace=True)
data36["Temp9am"].fillna(round(data36["Temp9am"].mean()),inplace=True)
data37["Temp9am"].fillna(round(data37["Temp9am"].mean()),inplace=True)
data38["Temp9am"].fillna(round(data38["Temp9am"].mean()),inplace=True)
data39["Temp9am"].fillna(round(data39["Temp9am"].mean()),inplace=True)
data40["Temp9am"].fillna(round(data40["Temp9am"].mean()),inplace=True)
data41["Temp9am"].fillna(round(data41["Temp9am"].mean()),inplace=True)
data42["Temp9am"].fillna(round(data42["Temp9am"].mean()),inplace=True)
data43["Temp9am"].fillna(round(data43["Temp9am"].mean()),inplace=True)
data44["Temp9am"].fillna(round(data44["Temp9am"].mean()),inplace=True)
data45["Temp9am"].fillna(round(data45["Temp9am"].mean()),inplace=True)
data46["Temp9am"].fillna(round(data46["Temp9am"].mean()),inplace=True)
data47["Temp9am"].fillna(round(data47["Temp9am"].mean()),inplace=True)
data48["Temp9am"].fillna(round(data48["Temp9am"].mean()),inplace=True)
data49["Temp9am"].fillna(round(data49["Temp9am"].mean()),inplace=True)
data50["Temp9am"].fillna(round(data50["Temp9am"].mean()),inplace=True)

In [36]:
#Reemplamos los datos nulos de la columna Temp3pm por su promedio
data2["Temp3pm"].fillna(round(data2["Temp3pm"].mean()),inplace=True)
data3["Temp3pm"].fillna(round(data3["Temp3pm"].mean()),inplace=True)
data4["Temp3pm"].fillna(round(data4["Temp3pm"].mean()),inplace=True)
data5["Temp3pm"].fillna(round(data5["Temp3pm"].mean()),inplace=True)
data6["Temp3pm"].fillna(round(data6["Temp3pm"].mean()),inplace=True)
data7["Temp3pm"].fillna(round(data7["Temp3pm"].mean()),inplace=True)
data8["Temp3pm"].fillna(round(data8["Temp3pm"].mean()),inplace=True)
data9["Temp3pm"].fillna(round(data9["Temp3pm"].mean()),inplace=True)
data10["Temp3pm"].fillna(round(data10["Temp3pm"].mean()),inplace=True)
data11["Temp3pm"].fillna(round(data11["Temp3pm"].mean()),inplace=True)
data12["Temp3pm"].fillna(round(data12["Temp3pm"].mean()),inplace=True)
data13["Temp3pm"].fillna(round(data13["Temp3pm"].mean()),inplace=True)
data14["Temp3pm"].fillna(round(data14["Temp3pm"].mean()),inplace=True)
data15["Temp3pm"].fillna(round(data15["Temp3pm"].mean()),inplace=True)
data16["Temp3pm"].fillna(round(data16["Temp3pm"].mean()),inplace=True)
data17["Temp3pm"].fillna(round(data17["Temp3pm"].mean()),inplace=True)
data18["Temp3pm"].fillna(round(data18["Temp3pm"].mean()),inplace=True)
data19["Temp3pm"].fillna(round(data19["Temp3pm"].mean()),inplace=True)
data20["Temp3pm"].fillna(round(data20["Temp3pm"].mean()),inplace=True)
data21["Temp3pm"].fillna(round(data21["Temp3pm"].mean()),inplace=True)
data22["Temp3pm"].fillna(round(data22["Temp3pm"].mean()),inplace=True)
data23["Temp3pm"].fillna(round(data23["Temp3pm"].mean()),inplace=True)
data24["Temp3pm"].fillna(round(data24["Temp3pm"].mean()),inplace=True)
data25["Temp3pm"].fillna(round(data25["Temp3pm"].mean()),inplace=True)
data26["Temp3pm"].fillna(round(data26["Temp3pm"].mean()),inplace=True)
data27["Temp3pm"].fillna(round(data27["Temp3pm"].mean()),inplace=True)
data28["Temp3pm"].fillna(round(data28["Temp3pm"].mean()),inplace=True)
data29["Temp3pm"].fillna(round(data29["Temp3pm"].mean()),inplace=True)
data30["Temp3pm"].fillna(round(data30["Temp3pm"].mean()),inplace=True)
data31["Temp3pm"].fillna(round(data31["Temp3pm"].mean()),inplace=True)
data32["Temp3pm"].fillna(round(data32["Temp3pm"].mean()),inplace=True)
data33["Temp3pm"].fillna(round(data33["Temp3pm"].mean()),inplace=True)
data34["Temp3pm"].fillna(round(data34["Temp3pm"].mean()),inplace=True)
data35["Temp3pm"].fillna(round(data35["Temp3pm"].mean()),inplace=True)
data36["Temp3pm"].fillna(round(data36["Temp3pm"].mean()),inplace=True)
data37["Temp3pm"].fillna(round(data37["Temp3pm"].mean()),inplace=True)
data38["Temp3pm"].fillna(round(data38["Temp3pm"].mean()),inplace=True)
data39["Temp3pm"].fillna(round(data39["Temp3pm"].mean()),inplace=True)
data40["Temp3pm"].fillna(round(data40["Temp3pm"].mean()),inplace=True)
data41["Temp3pm"].fillna(round(data41["Temp3pm"].mean()),inplace=True)
data42["Temp3pm"].fillna(round(data42["Temp3pm"].mean()),inplace=True)
data43["Temp3pm"].fillna(round(data43["Temp3pm"].mean()),inplace=True)
data44["Temp3pm"].fillna(round(data44["Temp3pm"].mean()),inplace=True)
data45["Temp3pm"].fillna(round(data45["Temp3pm"].mean()),inplace=True)
data46["Temp3pm"].fillna(round(data46["Temp3pm"].mean()),inplace=True)
data47["Temp3pm"].fillna(round(data47["Temp3pm"].mean()),inplace=True)
data48["Temp3pm"].fillna(round(data48["Temp3pm"].mean()),inplace=True)
data49["Temp3pm"].fillna(round(data49["Temp3pm"].mean()),inplace=True)
data50["Temp3pm"].fillna(round(data50["Temp3pm"].mean()),inplace=True)

In [37]:
#Reemplamos los datos nulos de la columna LluviaHoy No o Yes dependiendo de la ubicacion
data2["LluviaHoy"].fillna("No",inplace=True)
data3["LluviaHoy"].fillna("No",inplace=True)
data4["LluviaHoy"].fillna("No",inplace=True)
data5["LluviaHoy"].fillna("No",inplace=True)
data6["LluviaHoy"].fillna("No",inplace=True)
data7["LluviaHoy"].fillna("No",inplace=True)
data8["LluviaHoy"].fillna("No",inplace=True)
data9["LluviaHoy"].fillna("No",inplace=True)
data10["LluviaHoy"].fillna("No",inplace=True)
data11["LluviaHoy"].fillna("No",inplace=True)
data12["LluviaHoy"].fillna("No",inplace=True)
data13["LluviaHoy"].fillna("No",inplace=True)
data14["LluviaHoy"].fillna("No",inplace=True)
data15["LluviaHoy"].fillna("No",inplace=True)
data16["LluviaHoy"].fillna("No",inplace=True)
data17["LluviaHoy"].fillna("No",inplace=True)
data18["LluviaHoy"].fillna("No",inplace=True)
data19["LluviaHoy"].fillna("No",inplace=True)
data20["LluviaHoy"].fillna("No",inplace=True)
data21["LluviaHoy"].fillna("N",inplace=True)
data22["LluviaHoy"].fillna("No",inplace=True)
data23["LluviaHoy"].fillna("No",inplace=True)
data24["LluviaHoy"].fillna("No",inplace=True)
data25["LluviaHoy"].fillna("No",inplace=True)
data26["LluviaHoy"].fillna("No",inplace=True)
data27["LluviaHoy"].fillna("YES",inplace=True)
data28["LluviaHoy"].fillna("No",inplace=True)
data29["LluviaHoy"].fillna("No",inplace=True)
data30["LluviaHoy"].fillna("No",inplace=True)
data31["LluviaHoy"].fillna("No",inplace=True)
data32["LluviaHoy"].fillna("No",inplace=True)
data33["LluviaHoy"].fillna("No",inplace=True)
data34["LluviaHoy"].fillna("No",inplace=True)
data35["LluviaHoy"].fillna("No",inplace=True)
data36["LluviaHoy"].fillna("No",inplace=True)
data37["LluviaHoy"].fillna("No",inplace=True)
data38["LluviaHoy"].fillna("No",inplace=True)
data39["LluviaHoy"].fillna("No",inplace=True)
data40["LluviaHoy"].fillna("No",inplace=True)
data41["LluviaHoy"].fillna("No",inplace=True)
data42["LluviaHoy"].fillna("No",inplace=True)
data43["LluviaHoy"].fillna("No",inplace=True)
data44["LluviaHoy"].fillna("No",inplace=True)
data45["LluviaHoy"].fillna("No",inplace=True)
data46["LluviaHoy"].fillna("No",inplace=True)
data47["LluviaHoy"].fillna("No",inplace=True)
data48["LluviaHoy"].fillna("No",inplace=True)
data49["LluviaHoy"].fillna("No",inplace=True)
data50["LluviaHoy"].fillna("No",inplace=True)

In [38]:
#Reemplamos los datos nulos de la columna LluviaMan No o Yes dependiendo de la ubicacion
data2["LluviaMan"].fillna("No",inplace=True)
data3["LluviaMan"].fillna("No",inplace=True)
data4["LluviaMan"].fillna("No",inplace=True)
data5["LluviaMan"].fillna("No",inplace=True)
data6["LluviaMan"].fillna("No",inplace=True)
data7["LluviaMan"].fillna("No",inplace=True)
data8["LluviaMan"].fillna("No",inplace=True)
data9["LluviaMan"].fillna("No",inplace=True)
data10["LluviaMan"].fillna("No",inplace=True)
data11["LluviaMan"].fillna("No",inplace=True)
data12["LluviaMan"].fillna("No",inplace=True)
data13["LluviaMan"].fillna("No",inplace=True)
data14["LluviaMan"].fillna("No",inplace=True)
data15["LluviaMan"].fillna("No",inplace=True)
data16["LluviaMan"].fillna("No",inplace=True)
data17["LluviaMan"].fillna("No",inplace=True)
data18["LluviaMan"].fillna("No",inplace=True)
data19["LluviaMan"].fillna("No",inplace=True)
data20["LluviaMan"].fillna("No",inplace=True)
data21["LluviaMan"].fillna("No",inplace=True)
data22["LluviaMan"].fillna("No",inplace=True)
data23["LluviaMan"].fillna("No",inplace=True)
data24["LluviaMan"].fillna("No",inplace=True)
data25["LluviaMan"].fillna("No",inplace=True)
data26["LluviaMan"].fillna("No",inplace=True)
data27["LluviaMan"].fillna("No",inplace=True)
data28["LluviaMan"].fillna("No",inplace=True)
data29["LluviaMan"].fillna("No",inplace=True)
data30["LluviaMan"].fillna("No",inplace=True)
data31["LluviaMan"].fillna("No",inplace=True)
data32["LluviaMan"].fillna("No",inplace=True)
data33["LluviaMan"].fillna("No",inplace=True)
data34["LluviaMan"].fillna("No",inplace=True)
data35["LluviaMan"].fillna("No",inplace=True)
data36["LluviaMan"].fillna("No",inplace=True)
data37["LluviaMan"].fillna("No",inplace=True)
data38["LluviaMan"].fillna("No",inplace=True)
data39["LluviaMan"].fillna("No",inplace=True)
data40["LluviaMan"].fillna("No",inplace=True)
data41["LluviaMan"].fillna("No",inplace=True)
data42["LluviaMan"].fillna("No",inplace=True)
data43["LluviaMan"].fillna("No",inplace=True)
data44["LluviaMan"].fillna("No",inplace=True)
data45["LluviaMan"].fillna("No",inplace=True)
data46["LluviaMan"].fillna("No",inplace=True)
data47["LluviaMan"].fillna("No",inplace=True)
data48["LluviaMan"].fillna("No",inplace=True)
data49["LluviaMan"].fillna("No",inplace=True)
data50["LluviaMan"].fillna("No",inplace=True)

In [39]:
#concatenamos todos los datas nuevos con el data original
data = pd.concat([data2,data3,data4,data5,data6,data7,data8,data9,data10,data11,data12,data13,data14,data15,
                   data16,data17,data18,data19,data20,data21,data22,data23,data24,data25,data26,data27,data28,
                   data29,data30,data31,data32,data33,data34,data35,data36,data37,data38,data39,data40,data41,
                   data42,data43,data44,data45,data46,data47,data48,data49,data50],ignore_index=True)
data.isnull().sum()

Fecha              0
Ubicación          0
MinTemp            0
MaxTemp            0
Lluvia          3261
Evaporacion    62790
Sol            69835
DirRafaga          0
VelRafaga       6079
Dir9am             0
Dir3pm             0
Vel9am             0
Vel3pm             0
Hum9am             0
Hum3pm             0
Pres9am        12119
Pres3pm        12119
Nub9am         55888
Nub3pm         59358
Temp9am            0
Temp3pm            0
LluviaHoy          0
LluviaMan          0
dtype: int64

In [40]:
#Reemplazamos los datos nulos de Lluvia por 0
data["Lluvia"].fillna(0,inplace=True)
data.isnull().sum()

Fecha              0
Ubicación          0
MinTemp            0
MaxTemp            0
Lluvia             0
Evaporacion    62790
Sol            69835
DirRafaga          0
VelRafaga       6079
Dir9am             0
Dir3pm             0
Vel9am             0
Vel3pm             0
Hum9am             0
Hum3pm             0
Pres9am        12119
Pres3pm        12119
Nub9am         55888
Nub3pm         59358
Temp9am            0
Temp3pm            0
LluviaHoy          0
LluviaMan          0
dtype: int64

In [41]:
#Tomamos los datos nullos de la columna evaparacion y los almacenamos en evaporacionnull
evaporacionnull = data[(data['Evaporacion'].isnull())]
evaporacionnull

,Fecha,Ubicación,MinTemp,MaxTemp,Lluvia,Evaporacion,Sol,DirRafaga,VelRafaga,Dir9am,...,Hum9am,Hum3pm,Pres9am,Pres3pm,Nub9am,Nub3pm,Temp9am,Temp3pm,LluviaHoy,LluviaMan
0,2008-12-01,Albury,13.4,22.900000,0.6,NaN,NaN,W,44.000000,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.100000,0.0,NaN,NaN,WNW,44.000000,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.700000,0.0,NaN,NaN,WSW,46.000000,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.000000,0.0,NaN,NaN,NE,24.000000,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.300000,1.0,NaN,NaN,W,41.000000,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-21,Uluru,2.8,23.400000,0.0,NaN,NaN,E,31.000000,SE,...,51.0,24.0,1024.6,1020.3,NaN,NaN,10.1,22.4,No,No
145456,2017-06-22,Uluru,3.6,25.300000,0.0,NaN,NaN,NNW,22.000000,SE,...,56.0,21.0,1023.5,1019.1,NaN,NaN,10.9,24.5,No,No
145457,2017-06-23,Uluru,5.4,26.900000,0.0,NaN,NaN,N,37.000000,SE,...,53.0,24.0,1021.0,1016.8,NaN,NaN,12.5,26.1,No,No
145458,2017-06-24,Uluru,7.8,27.000000,0.0,NaN,NaN,SE,28.000000,SSE,...,51.0,24.0,1019.4,1016.5,3.0,2.0,15.1,26.0,No,No
145459,2017-06-25,Uluru,14.9,30.383195,0.0,NaN,NaN,E,41.268373,ESE,...,62.0,36.0,1020.2,1017.9,8.0,8.0,15.0,20.9,No,No

In [42]:
#Tomamos los datos no nullos de la columna evaparacion y los almacenamos en evaporacionnonull
evaporacionnonull = data[(data['Evaporacion'].notnull())]
evaporacionnonull

,Fecha,Ubicación,MinTemp,MaxTemp,Lluvia,Evaporacion,Sol,DirRafaga,VelRafaga,Dir9am,...,Hum9am,Hum3pm,Pres9am,Pres3pm,Nub9am,Nub3pm,Temp9am,Temp3pm,LluviaHoy,LluviaMan
6049,2009-01-01,Cobar,17.9,35.200000,0.0,12.0,12.3,SSW,48.0,ENE,...,20.000000,13.000000,1006.300000,1004.4,2.0,5.0,26.6,33.4,No,No
6050,2009-01-02,Cobar,18.4,28.900000,0.0,14.8,13.0,S,37.0,SSE,...,30.000000,8.000000,1012.900000,1012.1,1.0,1.0,20.3,27.0,No,No
6051,2009-01-03,Cobar,15.5,34.100000,0.0,12.6,13.3,SE,30.0,NE,...,55.152913,7.000000,1017.971937,1011.6,NaN,1.0,18.0,32.7,No,No
6052,2009-01-04,Cobar,19.4,37.600000,0.0,10.8,10.6,NNE,46.0,NNE,...,42.000000,22.000000,1012.300000,1009.2,1.0,6.0,28.7,34.9,No,No
6053,2009-01-05,Cobar,21.9,38.400000,0.0,11.4,12.2,WNW,31.0,WNW,...,37.000000,22.000000,1012.700000,1009.1,1.0,5.0,29.1,35.6,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
143876,2017-06-20,Katherine,15.0,32.000000,0.0,9.6,NaN,E,35.0,SE,...,47.000000,42.761456,1015.900000,1012.1,0.0,NaN,21.8,34.0,No,No
143877,2017-06-21,Katherine,15.4,31.500000,0.0,3.6,NaN,ESE,43.0,ESE,...,70.000000,42.761456,1016.600000,1012.7,0.0,NaN,21.6,34.0,No,No
143878,2017-06-22,Katherine,12.2,31.500000,0.0,4.0,NaN,ESE,37.0,SE,...,45.000000,42.761456,1017.100000,1012.8,0.0,NaN,19.9,34.0,No,No
143879,2017-06-23,Katherine,14.9,31.500000,0.0,6.4,NaN,ESE,41.0,SE,...,74.000000,42.761456,1016.100000,1011.8,0.0,NaN,22.8,34.0,No,No
143880,2017-06-24,Katherine,14.0,34.935436,0.0,10.0,NaN,E,35.0,E,...,74.000000,42.761456,1014.600000,1011.1,2.0,NaN,22.2,34.0,No,No

In [43]:
#reemplazamos los nullos del campo evaporacion por los campos que tine lluvia 
evaporacionnull["Evaporacion"].fillna(evaporacionnull["Lluvia"],inplace=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\series.py:4517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

In [44]:
data = pd.concat([evaporacionnull,evaporacionnonull],ignore_index=True)
data.isnull().sum()

Fecha              0
Ubicación          0
MinTemp            0
MaxTemp            0
Lluvia             0
Evaporacion        0
Sol            69835
DirRafaga          0
VelRafaga       6079
Dir9am             0
Dir3pm             0
Vel9am             0
Vel3pm             0
Hum9am             0
Hum3pm             0
Pres9am        12119
Pres3pm        12119
Nub9am         55888
Nub3pm         59358
Temp9am            0
Temp3pm            0
LluviaHoy          0
LluviaMan          0
dtype: int64

In [45]:
#Promedio del sol en general
data['Sol'].mean()

7.611177520661098

In [46]:
#reemplazamos los datos nullos de Sol con su promedio 
data["Sol"].fillna(round(data["Sol"].mean()),inplace=True)
data.isnull().sum()

Fecha              0
Ubicación          0
MinTemp            0
MaxTemp            0
Lluvia             0
Evaporacion        0
Sol                0
DirRafaga          0
VelRafaga       6079
Dir9am             0
Dir3pm             0
Vel9am             0
Vel3pm             0
Hum9am             0
Hum3pm             0
Pres9am        12119
Pres3pm        12119
Nub9am         55888
Nub3pm         59358
Temp9am            0
Temp3pm            0
LluviaHoy          0
LluviaMan          0
dtype: int64

In [47]:
#reemplazamos los datos nullos de VelRafaga con su promedio 
data["VelRafaga"].fillna(data["VelRafaga"].mean(),inplace=True)
data.isnull().sum()

Fecha              0
Ubicación          0
MinTemp            0
MaxTemp            0
Lluvia             0
Evaporacion        0
Sol                0
DirRafaga          0
VelRafaga          0
Dir9am             0
Dir3pm             0
Vel9am             0
Vel3pm             0
Hum9am             0
Hum3pm             0
Pres9am        12119
Pres3pm        12119
Nub9am         55888
Nub3pm         59358
Temp9am            0
Temp3pm            0
LluviaHoy          0
LluviaMan          0
dtype: int64

In [48]:
#reemplazamos los datos nullos de Pres9am con su promedio 
data["Pres9am"].fillna(data["Pres9am"].mean(),inplace=True)
data.isnull().sum()

Fecha              0
Ubicación          0
MinTemp            0
MaxTemp            0
Lluvia             0
Evaporacion        0
Sol                0
DirRafaga          0
VelRafaga          0
Dir9am             0
Dir3pm             0
Vel9am             0
Vel3pm             0
Hum9am             0
Hum3pm             0
Pres9am            0
Pres3pm        12119
Nub9am         55888
Nub3pm         59358
Temp9am            0
Temp3pm            0
LluviaHoy          0
LluviaMan          0
dtype: int64

In [49]:
#reemplazamos los datos nullos de Sol con su promedio 
data["Pres3pm"].fillna(data["Pres3pm"].mean(),inplace=True)
data.isnull().sum()

Fecha              0
Ubicación          0
MinTemp            0
MaxTemp            0
Lluvia             0
Evaporacion        0
Sol                0
DirRafaga          0
VelRafaga          0
Dir9am             0
Dir3pm             0
Vel9am             0
Vel3pm             0
Hum9am             0
Hum3pm             0
Pres9am            0
Pres3pm            0
Nub9am         55888
Nub3pm         59358
Temp9am            0
Temp3pm            0
LluviaHoy          0
LluviaMan          0
dtype: int64

In [50]:
#reemplazamos los datos nullos de Nub9am con su promedio 
data["Nub9am"].fillna(round(data["Nub9am"].mean()),inplace=True)
data.isnull().sum()

Fecha              0
Ubicación          0
MinTemp            0
MaxTemp            0
Lluvia             0
Evaporacion        0
Sol                0
DirRafaga          0
VelRafaga          0
Dir9am             0
Dir3pm             0
Vel9am             0
Vel3pm             0
Hum9am             0
Hum3pm             0
Pres9am            0
Pres3pm            0
Nub9am             0
Nub3pm         59358
Temp9am            0
Temp3pm            0
LluviaHoy          0
LluviaMan          0
dtype: int64

In [51]:
#reemplazamos los datos nullos de Nub9am con su promedio 
data["Nub3pm"].fillna(round(data["Nub3pm"].mean()),inplace=True)
data.isnull().sum()

Fecha          0
Ubicación      0
MinTemp        0
MaxTemp        0
Lluvia         0
Evaporacion    0
Sol            0
DirRafaga      0
VelRafaga      0
Dir9am         0
Dir3pm         0
Vel9am         0
Vel3pm         0
Hum9am         0
Hum3pm         0
Pres9am        0
Pres3pm        0
Nub9am         0
Nub3pm         0
Temp9am        0
Temp3pm        0
LluviaHoy      0
LluviaMan      0
dtype: int64

# GRAFICOS

# 3.	Codificación de los datos

In [52]:
#codificacion de los datos de la columna DirRafaga 
#data["DirRafaga"] = data["DirRafaga"].map({"SE":0, "W":1, "E":2, "N":3, "SSE":4, "S":5, 
#                                           "SW":6, "NW":7, "WSW":8, "SSW":9, "WNW":10, "ENE":11, 
#                                           "NE":12, "ESE":13, "NNW":14, "NNE":15})

In [53]:
#codificacion de los datos de la columna Dir9am
#data["Dir9am"] = data["Dir9am"].map({"SE":0, "W":1, "E":2, "N":3, "SSE":4, "S":5, "SW":6, "NW":7, 
#                                     "WSW":8, "SSW":9, "WNW":10, "ENE":11, "NE":12, "ESE":13, 
#                                     "NNW":14, "NNE":15})

In [54]:
#codificacion de los datos de la columna Dir9am
#data["Dir3pm"] = data["Dir3pm"].map({"SE":0, "W":1, "E":2, "N":3, "SSE":4, "S":5, "SW":6, "NW":7, 
#                                     "WSW":8, "SSW":9, "WNW":10, "ENE":11, "NE":12, "ESE":13, 
#                                     "NNW":14, "NNE":15})

In [55]:
#codificacion de los datos de la columna lluvia 
data["LluviaMan"] = data["LluviaMan"].map({"No":0, "N":0, "Yes":1, "YES":1})

In [56]:
#codificacion de los datos de la columna lluvia 
data["LluviaHoy"] = data["LluviaHoy"].map({"No":0, "N":0, "Yes":1, "YES":1})

In [57]:
#codificacion de los datos de la columna lluvia 
#data["Ubicación"] = data["Ubicación"].map({"Adelaide":1, "Albany":2, "Albury":3, "AliceSprings":4, 
#                                           "BadgerysCreek":5, "Ballarat":6, "Bendigo":7,  "Brisbane":8, "Cairns":9, "Canberra":10,
#                                           "Cobar":11, "CoffsHarbour":12, "Dartmoor":13,  "Darwin":14, "GoldCoast":15, "Hobart":16, 
#                                          "Katherine":17, "Launceston":18, "Melbourne":19,  "MelbourneAirport":20, "Mildura":21, "Moree":22,
#                                           "MountGambier":23, "MountGinini":24, "Newcastle":25,  "Nhil":26, "NorahHead":27, "NorfolkIsland":28,
#                                          "Nuriootpa":29, "PearceRAAF":30, "Penrith":31,  "Perth":32, "PerthAirport":33, "Portland":34,
#                                           "Richmond":35, "Sale":36, "SalmonGums":37,  "Sydney":38, "SydneyAirport":39, "Townsville":40,
#                                          "Tuggeranong":41, "Uluru":42, "WaggaWagga":43,  "Walpole":44, "Watsonia":45, "Williamtown":46,
#                                           "Witchcliffe":47, "Wollongong":48, "Woomera":49})

In [58]:
#Codificamos la variable DirRafaga 
#data = pd.get_dummies(data, columns = ["DirRafaga"])

In [59]:
#Codificamos la variable Dir9am DirRafaga Dir3pm
#data = pd.get_dummies(data, columns = ["Dir9am"])

In [60]:
#Codificamos la variable Dir3pm 
#data = pd.get_dummies(data, columns = ["Dir3pm"])

In [61]:
#drop_first borramos la primera columna a que son excluyentes
#Codificamos la variable LluviaMan 
data = pd.get_dummies(data, columns = ["LluviaMan"], drop_first = True)

In [62]:
#drop_first borramos la primera columna a que son excluyentes
#Codificamos la variable LluviaHoy 
data = pd.get_dummies(data, columns = ["LluviaHoy"], drop_first = True)

In [63]:
#Codificamos la variable Ubicación 
#data = pd.get_dummies(data, columns = ["Ubicación"])

In [64]:
data

,Fecha,Ubicación,MinTemp,MaxTemp,Lluvia,Evaporacion,Sol,DirRafaga,VelRafaga,Dir9am,...,Hum9am,Hum3pm,Pres9am,Pres3pm,Nub9am,Nub3pm,Temp9am,Temp3pm,LluviaMan_1,LluviaHoy_1
0,2008-12-01,Albury,13.4,22.900000,0.6,0.6,8.0,W,44.0,W,...,71.0,22.000000,1007.7,1007.1,8.0,5.0,16.9,21.8,0,0
1,2008-12-02,Albury,7.4,25.100000,0.0,0.0,8.0,WNW,44.0,NNW,...,44.0,25.000000,1010.6,1007.8,4.0,5.0,17.2,24.3,0,0
2,2008-12-03,Albury,12.9,25.700000,0.0,0.0,8.0,WSW,46.0,W,...,38.0,30.000000,1007.6,1008.7,4.0,2.0,21.0,23.2,0,0
3,2008-12-04,Albury,9.2,28.000000,0.0,0.0,8.0,NE,24.0,SE,...,45.0,16.000000,1017.6,1012.8,4.0,5.0,18.1,26.5,0,0
4,2008-12-05,Albury,17.5,32.300000,1.0,1.0,8.0,W,41.0,ENE,...,82.0,33.000000,1010.8,1006.0,7.0,8.0,17.8,29.7,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145455,2017-06-20,Katherine,15.0,32.000000,0.0,9.6,8.0,E,35.0,SE,...,47.0,42.761456,1015.9,1012.1,0.0,5.0,21.8,34.0,0,0
145456,2017-06-21,Katherine,15.4,31.500000,0.0,3.6,8.0,ESE,43.0,ESE,...,70.0,42.761456,1016.6,1012.7,0.0,5.0,21.6,34.0,0,0
145457,2017-06-22,Katherine,12.2,31.500000,0.0,4.0,8.0,ESE,37.0,SE,...,45.0,42.761456,1017.1,1012.8,0.0,5.0,19.9,34.0,0,0
145458,2017-06-23,Katherine,14.9,31.500000,0.0,6.4,8.0,ESE,41.0,SE,...,74.0,42.761456,1016.1,1011.8,0.0,5.0,22.8,34.0,0,0
145459,2017-06-24,Katherine,14.0,34.935436,0.0,10.0,8.0,E,35.0,E,...,74.0,42.761456,1014.6,1011.1,2.0,5.0,22.2,34.0,0,0

In [65]:
from sklearn.model_selection import train_test_split

X = data.drop(["Fecha","Ubicación","LluviaHoy_1","LluviaMan_1","Dir9am", "DirRafaga","Dir3pm","Vel9am","Vel3pm"],axis=1)
y = data.LluviaHoy_1

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [66]:
X_train

,MinTemp,MaxTemp,Lluvia,Evaporacion,Sol,VelRafaga,Hum9am,Hum3pm,Pres9am,Pres3pm,Nub9am,Nub3pm,Temp9am,Temp3pm
12623,9.3,14.7,12.2,12.2,8.0,57.0,82.0,78.0,1030.400000,1029.100000,4.0,5.0,10.7,14.0
84129,10.2,24.0,0.0,3.2,8.5,28.0,78.0,50.0,1023.600000,1016.400000,7.0,1.0,16.7,23.7
20951,10.4,16.4,0.0,0.0,8.0,61.0,56.0,50.0,1001.300000,1002.000000,4.0,8.0,12.6,14.8
122674,15.0,32.7,0.0,9.5,12.9,39.0,44.0,16.0,1015.300000,1013.100000,0.0,5.0,24.0,31.8
30002,-1.4,6.4,0.0,0.0,8.0,28.0,98.0,75.0,1017.639739,1015.251635,4.0,5.0,-0.3,4.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56063,12.9,28.5,0.0,0.0,8.0,28.0,54.0,53.0,1013.400000,1011.800000,4.0,5.0,21.8,25.2
35265,2.4,13.7,2.2,2.2,8.0,43.0,97.0,55.0,1013.200000,1008.600000,8.0,1.0,4.4,12.5
92914,5.9,12.8,14.0,1.0,5.7,46.0,65.0,55.0,1025.300000,1025.700000,5.0,7.0,9.4,11.7
34623,-1.8,13.8,0.0,0.0,8.0,33.0,86.0,52.0,1024.300000,1021.100000,1.0,5.0,6.2,12.9
76441,14.8,22.2,0.0,4.0,10.2,35.0,65.0,50.0,1023.700000,1021.300000,3.0,3.0,19.1,22.2

# 4.	Escalado de características

#### a.	Normalización de datos

In [67]:
from sklearn.preprocessing import MinMaxScaler
norm = MinMaxScaler().fit(X_train)
X_train_norm = norm.transform(X_train)
X_test_norm = norm.transform(X_test)

In [68]:
pd.DataFrame(X_train_norm)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,0.419811,0.368620,0.032884,0.032884,0.551724,0.395349,0.82,0.78,0.824793,0.828990,0.444444,0.625,0.377637,0.375969
1,0.441038,0.544423,0.000000,0.008625,0.586207,0.170543,0.78,0.50,0.712397,0.622150,0.777778,0.125,0.504219,0.563953
2,0.445755,0.400756,0.000000,0.000000,0.551724,0.426357,0.56,0.50,0.343802,0.387622,0.444444,1.000,0.417722,0.391473
3,0.554245,0.708885,0.000000,0.025606,0.889655,0.255814,0.44,0.16,0.575207,0.568404,0.000000,0.625,0.658228,0.720930
4,0.167453,0.211720,0.000000,0.000000,0.551724,0.170543,0.98,0.75,0.613880,0.603447,0.444444,0.625,0.145570,0.197674
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
116363,0.504717,0.629490,0.000000,0.000000,0.551724,0.170543,0.54,0.53,0.543802,0.547231,0.444444,0.625,0.611814,0.593023
116364,0.257075,0.349716,0.005930,0.005930,0.551724,0.286822,0.97,0.55,0.540496,0.495114,0.888889,0.125,0.244726,0.346899
116365,0.339623,0.332703,0.037736,0.002695,0.393103,0.310078,0.65,0.55,0.740496,0.773616,0.555556,0.875,0.350211,0.331395
116366,0.158019,0.351607,0.000000,0.000000,0.551724,0.209302,0.86,0.52,0.723967,0.698697,0.111111,0.625,0.282700,0.354651
116367,0.549528,0.510397,0.000000,0.010782,0.703448,0.224806,0.65,0.50,0.714050,0.701954,0.333333,0.375,0.554852,0.534884

In [69]:
X_train_stand = X_train.copy()
X_test_stand = X_test.copy()

#### b.	Estandarización de datos

In [70]:
from sklearn.preprocessing import StandardScaler
stand = StandardScaler().fit(X_train_stand[["MinTemp"]])
X_train_stand[["MinTemp"]] = stand.transform(X_train_stand[["MinTemp"]])
X_test_stand[["MinTemp"]] = stand.transform(X_test_stand[["MinTemp"]])
#stand = StandardScaler().fit(X_train_stand[["MaxTemp"]])
#X_train_stand[["MaxTemp"]] = stand.transform(X_train_stand[["MaxTemp"]])
#X_test_stand[["MaxTemp"]] = stand.transform(X_test_stand[["MaxTemp"]])
stand = StandardScaler().fit(X_train_stand[["Lluvia"]])
X_train_stand[["Lluvia"]] = stand.transform(X_train_stand[["Lluvia"]])
X_test_stand[["Lluvia"]] = stand.transform(X_test_stand[["Lluvia"]])
stand = StandardScaler().fit(X_train_stand[["Evaporacion"]])
X_train_stand[["Evaporacion"]] = stand.transform(X_train_stand[["Evaporacion"]])
X_test_stand[["Evaporacion"]] = stand.transform(X_test_stand[["Evaporacion"]])
stand = StandardScaler().fit(X_train_stand[["Sol"]])
X_train_stand[["Sol"]] = stand.transform(X_train_stand[["Sol"]])
X_test_stand[["Sol"]] = stand.transform(X_test_stand[["Sol"]])
#stand = StandardScaler().fit(X_train_stand[["VelRafaga"]])
#X_train_stand[["VelRafaga"]] = stand.transform(X_train_stand[["VelRafaga"]])
#X_test_stand[["VelRafaga"]] = stand.transform(X_test_stand[["VelRafaga"]])
#stand = StandardScaler().fit(X_train_stand[["Hum9am"]])
#X_train_stand[["Hum9am"]] = stand.transform(X_train_stand[["Hum9am"]])
#X_test_stand[["Hum9am"]] = stand.transform(X_test_stand[["Hum9am"]])
stand = StandardScaler().fit(X_train_stand[["Hum3pm"]])
X_train_stand[["Hum3pm"]] = stand.transform(X_train_stand[["Hum3pm"]])
X_test_stand[["Hum3pm"]] = stand.transform(X_test_stand[["Hum3pm"]])
#stand = StandardScaler().fit(X_train_stand[["Pres9am"]])
#X_train_stand[["Pres9am"]] = stand.transform(X_train_stand[["Pres9am"]])
#X_test_stand[["Pres9am"]] = stand.transform(X_test_stand[["Pres9am"]])
#stand = StandardScaler().fit(X_train_stand[["Pres3pm"]])
#X_train_stand[["Pres3pm"]] = stand.transform(X_train_stand[["Pres3pm"]])
#X_test_stand[["Pres3pm"]] = stand.transform(X_test_stand[["Pres3pm"]])
#stand = StandardScaler().fit(X_train_stand[["Temp9am"]])
#X_train_stand[["Temp9am"]] = stand.transform(X_train_stand[["Temp9am"]])
#X_test_stand[["Temp9am"]] = stand.transform(X_test_stand[["Temp9am"]])
#stand = StandardScaler().fit(X_train_stand[["Temp3pm"]])
#X_train_stand[["Temp3pm"]] = stand.transform(X_train_stand[["Temp3pm"]])
#X_test_stand[["Temp3pm"]] = stand.transform(X_test_stand[["Temp3pm"]])

# 5.	Aplicación de modelos estadísticos

## Primer modelo estadistico

### Modelo KNN

In [71]:
#from sklearn.neighbors import KNeighborsRegressor
#from sklearn.metrics import mean_squared_error
#knn = KNeighborsRegressor(n_neighbors=7)

#### Datos Brutos u originales

In [72]:
#knn.fit(X_train,y_train)
#pred = knn.predict(X_test)
#np.sqrt(mean_squared_error(y_test,pred))

#### Datos normalizados

In [73]:
#knn.fit(X_train_norm,y_train)
#pred = knn.predict(X_test_norm)
#np.sqrt(mean_squared_error(y_test,pred))

#### Datos estandarizados

In [74]:
#knn.fit(X_train_stand,y_train)
#pred = knn.predict(X_test_stand)
#np.sqrt(mean_squared_error(y_test,pred))

## Segundo modelo estadistico

### Arbol de deciciones

In [75]:
#from sklearn.tree import DecisionTreeRegressor
#dt = DecisionTreeRegressor(max_depth=1,random_state=12)

#### Datos originales

In [76]:
#dt.fit(X_train,y_train)
#pred = dt.predict(X_test)
#np.sqrt(mean_squared_error(y_test,pred))

#### Datos Normalizados

In [77]:
#dt.fit(X_train_norm,y_train)
#pred = dt.predict(X_test_norm)
#np.sqrt(mean_squared_error(y_test,pred))

#### Datos Estandarizados

In [78]:
#dt.fit(X_train_stand,y_train)
#pred = dt.predict(X_test_stand)
#np.sqrt(mean_squared_error(y_test,pred))

## Tercer modelo estadistico

#### Suport Vector Regresor (SVR)

In [79]:
#from sklearn.svm import SVR
#svr = SVR(kernel='rbf',C=5)
#rmse = []
#trainX = [X_train, X_train_norm, X_train_stand]
#testX = [X_test, X_test_norm, X_test_stand]
#for i in range(len(trainX)):
#  svr.fit(trainX[i],y_train)
#  pred = svr.predict(testX[i])
#  rmse.append(np.sqrt(mean_squared_error(y_test,pred))) 

#df_svr = pd.DataFrame({'RMSE':rmse},index=['Original','Normalized','Standardized'])
#df_svr

In [80]:
#svr.fit(X_train_stand,y_train)
#pred = svr.predict(X_test_stand)
#np.sqrt(mean_squared_error(y_test,pred))